/* fonts ================================================ */


@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans/opensans.woff2') format('woff2'), 
	     url('fonts/opensans/opensans.woff') format('woff'), 
	     url('fonts/opensans/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans/opensanslight.woff2') format('woff2'), 
	     url('fonts/opensans/opensanslight.woff') format('woff'), 
	     url('fonts/opensans/opensanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* demo ================================================ */

.demo {
	position: relative;
	min-height: 620px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* common ================================================ */

.demo .container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.demo .button {
	padding: 9.5px 25px 8px;
	background: #ff891e;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
	outline: none;
	border: 2px solid #ff891e;
	border-radius: 4px;
	cursor: pointer;
	transition: all .2s;
}
.demo .button:hover {
	background: #EF780F;
}
.demo .button-transparent {
	background: transparent;
	border: 1px solid #000;
	color: #000;
}
.demo .button-transparent:hover {
	background: transparent;
	border: 1px solid #ff891e;
	color: #ff891e;
}

/* preview ================================================ */

.demo .preview {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #c4cdd6;
	transition-delay: 1s;
	transition-duration: 1s;
}
.demo .preview.disabled {
	z-index: -1;
	opacity: 0;
}

/* carousel ================================================ */

.demo .slide {
	height: 100vh;
	min-height: 620px;
	background-size: cover;
}
.demo .slide-1 {
	background-image: url(img/slider_1.jpg);
}
.demo .slide-2 {
	background-image: url(img/slider_2.jpg);
}
.demo .slide-3 {
	background-image: url(img/slider_3.jpg);
}
.demo .slide-4 {
	background-image: url(img/slider_4.jpg);
}
.demo .content {
	max-width: 563px;
	width: 100%;
	padding-top: 222px;
	margin-right: 105px;
	margin-left: auto;
}
.demo .title {
	font-size: 42px;
	line-height: 50px;
	color: #000;
}
.demo .dsc {
	margin-top: 15px;
	font-size: 26px;
}
.demo .wrap-btns {
	margin-top: 21px;
}
.demo .wrap-btns .button {
	margin-right: 16px;
	min-width: 155px;
}
.demo .slick-arrow {
	width: 77px;
	height: 77px;
	background: hsla(216, 7%, 50%, .5);
	transition: all .2s;
}
.demo .slick-arrow:hover {
	background: hsla(216, 7%, 50%, .9);
}
.demo .slick-arrow:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	display: block;
	width: 14px;
	height: 14px;
	background: transparent;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	font-size: 0;
}
.demo .slick-prev {
	left: 0;
	z-index: 1;
}
.demo .slick-next {
	right: 0;
}
.demo .slick-next:before {
	right: auto;
	transform: translate(-50%, -50%) rotate(-136deg);
}
.demo .container-switch {
	position: absolute;
	bottom: 19px;
	left: 50%;
	transform: translateX(-50%);
}
.demo .switch {
	display: flex;
	justify-content: space-between;
	margin: 0 -10px;
}
.demo .switch-item {
	display: flex;
	align-items: center;
	max-width: 275px;
	width: 100%;
	margin: 0 10px;
	padding: 10px 10px;
	background: hsla(216, 7%, 50%, .5);
	border-radius: 4px;
	cursor: pointer;
	transition: all .2s;
}
.demo .switch-item.active {
	background: hsla(216, 7%, 50%, .9);
}
.demo .switch-item:hover {
	background: hsla(216, 7%, 50%, .9);
}
.demo .switch-img {
	display: block;
	margin-right: 15px;
}
.demo .swicth-content {
	color: #fff;
}
.demo .switch-dsc {
	margin-bottom: 0;
	font-size: 10px;
}
.demo .switch-title {
	font-size: 12px;
	line-height: 15px;
}
@media (max-width: 1024px) {
	.demo .switch-item {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
		padding: 5px;
	}
	.demo .switch-img {
		display: none;
	}
}
@media (max-width: 768px) {
	.demo {
		min-height: initial;
	}	
	.demo .slide {
		min-height: 400px;
		background-position: center;
	}	
	.demo .slide-1 {
		background-image: url(img/slider_1min.jpg);
	}
	.demo .slide-2 {
		background-image: url(img/slider_2min.jpg);
	}
	.demo .slide-3 {
		background-image: url(img/slider_3min.jpg);
	}
	.demo .slide-4 {
		background-image: url(img/slider_4min.jpg);
	}
	.demo .content {
		max-width: 463px;
		min-height: initial;
		padding-top: 120px;
		margin-right: auto;
		text-align: center;
	}	
	.demo .title {
		font-size: 26px;
		line-height: 31px;
		font-weight: 300;
	}	
	.demo .dsc {
		font-size: 16px;
		margin-top: 0;
	}
	.demo .wrap-btns .button {
		min-width: auto;
		margin-right: 0;
		padding: 8px 19px 6px;
		font-size: 13px;
	}
	.demo .wrap-btns .button-transparent {
		display: none;
	}
	.demo .container-switch {
		bottom: 27px;
	}	
	.demo .switch {
		justify-content: center;
	}
	.demo .switch-item {
		width: 14px;
		height: 14px;
		padding: 0;
		background: transparent;
		border: 1px solid #000;
		border-radius: 50%;
	}	
	.demo .switch-item.active {
		background: #000;
	}
	.demo .switch-img,
	.demo .swicth-content {
		display: none;
	}
}
@media (max-width: 425px) {
	.demo .slide {
		display: flex !important;
		align-items: center;
	}
	.demo .content {
		padding-top: 0;
	}
}