@media screen and (max-width: 1190px) {
	.container {
		width: 1000px;
	}
}
@media screen and (max-width: 1024px) {
.container {
	width: 900px;
}
.menu {
	text-align: right;
}
.menu li {
	display: inline;
	margin-left: 4%;
}
.iphone {
	float: right;
	display: block;
	margin: 0 auto;
	margin-top: 70px;
}
}
@media screen and (max-width: 934px) {
.container{
		width: 750px;
}
}
@media screen and (max-width: 768px) {
.container {
	width: 650px;
}
}
@media screen and (max-width: 680px){
.menu {
	text-align: center;
}
.about_me {
	float: none;
	text-align: center;
}
.iphone {
	float: none; 
}
.button{
	margin: 0 auto;
	margin-top: 50px;
}
}
@media screen and (max-width: 425px) {
.item2 img {
	max-width: 100%;
	margin: 0 auto;
}
}
