@media screen and (max-width: 991px) {
	.col1 {
		display: none;
	}	
	.col2 {
		display: none;
	}
	.wire {
		display: block;
	}
}
@media screen and (max-width: 780px) {
	.text-about-me {
		padding-top: 80px; 
	}
	.header-bottom {
		flex-direction: column;
		padding-top: 50px; 
	}
	.email {
		padding-top: 22px;
	}
}
@media screen and (max-width: 699px) {
	.prev {
		left: 11px;
	}
	.next {
		right: 11px;
	}
}
@media screen and (max-width: 664px) {
	.flex-sect2 {
		flex-direction: column;
	}
	.flex-sect3 {
		flex-direction: column-reverse;
	}
	.sec3-bg-left {
		width: 100%;
	}
	.sec3-bg-left2 {
		height: 500px;
	}
	.sec3-bg-right {
		width: 100%;
	}
	.bg-right2 {
		height: 500px;
	}
	.section__button {
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 25px;
	}
	.bg-pattern {
		width: 100%;
		text-align: center;
	}
	.left-side {
		max-width: 1200px;
	}
	.bg-right {
		width: 100%;
	}
	.right-side {
		margin-right: 0;
		max-width: 1200px;
	}
	.verstka-p {
		text-align: justify;
	}
	.ul-text {
		text-align: justify;
	}
	h4 {
		text-align: center;
	}
}
@media screen and (max-width: 494px) {
	.section3__h1 {
		font-size: 45px;
	}
	.footer__i a i {
		border-left: none;
	}
	.fa-vk {
		border-right: none;
	}	

}
@media screen and (max-width: 494px) {
	.slick-dots li button:before {
		top: 95px;
	}
}
@media screen and (max-width: 400px) {
	.div-call {
		text-align: center;
		padding-top: 50px;
	}
}