/*--320 480 768 980 1200 1400 1600--*/
@media screen and (max-width: 480px) {
.nav {
	margin-left: 10%;
}
.button {
	margin-left: 29%;
}
.text2 {
	margin-left: 9%;
}
.text3 {
	margin-left: 15%;
}
.text4 {
	margin-left: 28%;
}
.iphone {
	margin-top: 46px;
	margin-left: 26.5%;
	clear: left;
	width: 50%;
}
.line {
	margin-top: 521px;
}
.portpholio a {
	margin-top: 12%;
	margin-left: 35%;
}
.portpholio__line {
	margin-top: 27%;
	width: 30%;
	margin-left: 37%;
}
.all-items {
	margin-top: 12%;
}
.item1 {
	margin-top: 3%;
	margin-left: 4%;
}
.item2 {
	margin-left: 7%;
}
.item3 {
	margin-left: 7%;
}
.conecting-background {
	margin-top: 200px;
}
.conecting {
	margin-top: 25%;
	margin-left: 21%;
}
.button2 {
	margin-left: 27%;
}
.footer .icons {
	margin-left: 30%;
}
.footer i {
	margin-top: 10.5%;
}
}
@media screen and (max-width: 370px) {
.conecting {
margin-left: -13px;
}
}
@media screen and (max-width: 320px) {
.nav {
	margin-left: 1%;
}
.button {
	margin-left: 20%;
}
.text2 {
	margin-left: -5%;
}
.text3 {
	margin-left: 15%;
}
.text4 {
	margin-left: 28%;
}
.iphone {
	margin-top: 46px;
	margin-left: 24%;
	clear: left;
	width: 50%;
}
.line {
	margin-top: 477px;
}
.portpholio a {
	margin-top: 16%;
	margin-left: 27%;
}
.portpholio__line {
	margin-top: 36%;
	width: 30%;
	margin-left: 35%;
}
.item1 {
	margin-left: 11%;
}
.item2 {
	margin-left: 1%;
}
.item3 {
	margin-left: 1%;
}
.conecting-background {
	margin-top: 200px;
}
.conecting {
	margin-top: 25%;
	margin-left: 11%;
}
.button2 {
	margin-top: 12%;
	margin-left: 17%;
}
.footer .icons {
	margin-left: 24%;
}
.footer i {
	margin-top: 12.3%;
}

}

