@font-face {
    font-family: 'Montserrat-Semibold-Black';
    src: url('fonts/montserrat-black.ttf');
}
 @font-face {
    font-family: 'Montserrat-Semibold-LightItalick';
    src: url('fonts/montserrat-lightItalic.ttf');
} 
@font-face {
    font-family: 'Montserrat-Semibold-ExtraBold';
    src: url('fonts/montserrat-extrabold.ttf');
}

.hidden-menu {
  display: block;
  position: fixed;
  list-style:none;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  width: 200px;
  background-color: black;
  height: 100%;
  top: 0;
  right: -200px;
  transition: right .2s;
  z-index: 3;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  padding-top: 5px;
  padding-right: 5px;
  position: fixed;
  top: 5px;
  right: 5px;
  cursor: pointer;
  transition: right .23s;
  z-index: 4;
  width: 45px;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.btn-menu:checked {
	right: 155px;
}
.btn-menu span {
  display: block;
  height: 5px;
  background-color: white;
  background: #4C2405;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  right: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
  top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu {
  right: 155px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  top: -10px;
}
.hidden-menu li {
	text-align: center;
}
.hidden-menu li a {
  list-style: none;
  display: block;
  margin: 0;
  color: gray;
  padding: 10px;
  text-decoration: none;
  transition: all .2s;
  font-size: 18px;
}
nav .hidden-menu .first-li {
	margin-top: 45px;
}
.hidden-menu li a:hover,
.hidden-menu li a:focus {
  background: #4C2405;
  color: #fff;
  text-decoration: none;
}
.menu-line {
	height: 1px;
	background: white;
}
/*---------------*/
.background-img {
	background-image: url(img/desc1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.background {
	width: 100%;
}
.container-fluid {
	max-width: 1200px;
}
.flex-header {
	width: 100%;
	max-width: 1200px;
	background: #2F2F2F;
}
.div-call .call-p {
	padding-top: 15px;
	color: white;
	font-size: 20px;
	margin-bottom: 0;
	font-family: 'Montserrat-Semibold-LightItalick';
}

@keyframes imgTransform {
	0%  {transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.div-logo  {
	padding-top: 15px;
}
.div-logo img {
	height: 50px;
	width: 50px;
	animation: imgTransform 25s linear 0s infinite normal both;
}
.name-site-p {
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
	font-family: 'Montserrat-Semibold-Black';
}
.text-about-me {
	padding-top: 110px;
	text-align: center;
}
.text-about-me p { 
	color: white;
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 0;
	font-family: 'Montserrat-Semibold-ExtraBold';
	font-weight: bold;
}
.text-about-me .text-gray {
	color: white;
}
@keyframes btnTransform {
	0%  {transform: rotate(0deg); }
	87%  {transform: rotate(0deg); }
  100% { transform: rotate(1.5deg); }
}
.button {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
	width: 250px;
	height: 75px;
	margin: 0 auto;
}
.button div {
	animation: btnTransform 0.01s linear 0s infinite alternate both;
	width: 240px;
	height: 70px;
	transition-duration: 2s;
	background: #4C2405;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.button div span {
	color: white;
	font-size: 24px;
	font-family: 'Montserrat-Semibold-LightItalick';
	font-weight: bold;
}
@keyframes btnS {
  0%  { bottom: 0; box-shadow: 10px 10px 5px rgba(0,0,0,0.5); }
  100% { bottom: 100px; box-shadow: 50px 50px 50px rgba(0,0,0,0.1); }
}
.button div:hover {
	width: 250px;
	height: 75px;
	cursor: pointer;
	animation: btnS 7s cubic-bezier(0.1,0.25,0.1,1) 0s infinite normal both;
}
a:hover {
	text-decoration: none;
}
.button button span {
	font-weight: bold;
	font-size: 20px;
	font-family: 'Montserrat-Semibold-LightItalick';
}
.header-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 110px; 
}
.header-bottom a {
	width: 65px;
	height: 65px;
}
.fk {
	height: 55px;
	width: 55px;
	padding-bottom: 20px;
	transition-duration: 2s;
	border-radius: 50%;
	margin: 0 auto; 
}
.fk:hover {
	height: 65px;
	width: 65px;
	cursor: pointer;
	animation: btnS 7s cubic-bezier(0.1,0.25,0.1,1) 0s infinite normal both;
}
.fk img {
	width: 100%;
}
@keyframes angleTransform {
	0%  { bottom: 0px; }
  100% { bottom: 20px; }
}
.div {
	display: flex;
	padding-bottom: 20px;
	padding-top: 10px;
}
.div-angle {
	animation: angleTransform 0.9s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both;
	position: relative;
	left: 50%;
	margin-left: -10px;
	-ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none; 
}
.angle {
	border: 3px solid white;
	height: 20px;
	width: 20px;
	border-left: none;
	border-top: none;
	transform: rotate(45deg);
	transition-duration: 0.5s;
}
.angle:hover {
	transform: rotate(405deg);
}
.email {
	color: #4C2405;
	font-size: 20px;
}

/*--------------section-2--------------------*/
.flex-sect2 {
	display: flex;
}
h2 {
	padding-top: 65px;
	font-family: 'Montserrat-Semibold-LightItalick';
	font-weight: bold;
}
.more-about {
	color: #4C2405;
	font-size: 22px;
	font-family: 'Montserrat-Semibold-LightItalick';
}
.img-foto {
	width: 50%;
	background-image: url(img/img-pattern.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.left-side {
	max-width: 600px;
	margin-right: 0;
}
.learning {
	padding-top: 5px;
	font-size: 28px;
	font-family: 'Montserrat-Semibold-LightItalick';
	font-weight: bold;
}
.learn-text {
	font-size: 18px;
	font-family: 'Montserrat-Semibold-LightItalick';
	color: black;
}
.my-skills {
	padding-top: 5px;
	font-size: 28px;
	font-family: 'Montserrat-Semibold-LightItalick';
	font-weight: bold;
}
.my-skills2 {
	font-size: 18px;
	font-family: 'Montserrat-Semibold-LightItalick';
}
.what-I-doing {
	padding-top: 5px;
	font-size: 28px;
	font-family: 'Montserrat-Semibold-LightItalick';
	font-weight: bold;
}
.what-p {
	font-size: 18px;
	font-family: 'Montserrat-Semibold-LightItalick';
	padding-bottom: 20px;
}
.about-bg2 {
	background: white;
}
/*--------right-side---------*/
.bg-right {
	width: 50%;
}
.bg-right2 {
	width: 100%;
	color: black;
}
.right-side {
	max-width: 600px;
	margin-left: 0;
}
.title-flex {
	display: flex;
	padding-top: 60px;
	align-items: center;
}
.bg-right2 .title {
	font-family: 'Montserrat-Semibold-LightItalick';
	font-weight: bold;
	margin-bottom: 2.5px;
	font-size: 28px;
}
.www {
	margin-left: 15px;
	text-align: center;
	height: 25px;
	width: 70px;
	background: #4C2405;
}
.www span {
	color: white;
    font-family: 'Montserrat-Semibold-ExtraBold';
}
.right-side .ul {
	list-style-type: circle;
}
.right-side .ul li {
	color: #4C2405;
	padding-bottom: 10px;

}
.right-side .ul li span {
	color: black;
	font-size: 18px;
	font-family: 'Montserrat-Semibold-LightItalick';
}

.ul-text {
	padding-top: 5px;
	font-size: 18px;
	font-family: 'Montserrat-Semibold-LightItalick';
	color: gray;
}
.verstka {
	font-size: 28px;
	font-family: 'Montserrat-Semibold-LightItalick';
	font-weight: bold;
	margin-bottom: 0;
}
.verstka-p {
	padding-top: 15px;
	font-size: 18px;
	font-family: 'Montserrat-Semibold-LightItalick';
}
.title2-flex {
	display: flex;
	align-items: center;
}
.html {
	margin-left: 15px;
	text-align: center;
	height: 25px;
	width: 70px;
	background: #4C2405;
}
.html span {
	color: white;
    font-family: 'Montserrat-Semibold-ExtraBold';
}
.section2__button {
	background: gray;
	padding: 12px 0; 
	text-align: center;
	transition-duration: 0.5s;
	margin-bottom: 30px;
}
.section2__button:hover {
	background: #737373;
}
.section2__button span {
	color: white;
	font-size: 20px;
	font-family: 'Montserrat-Semibold-LightItalick';
	font-weight: bold;
}


/*-----------section-3--------------*/


.section3 {
	background-image: url(img/desc2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}
.bg-sec3 {
    width: 100%;
}
.section3__h1 {
	padding-top: 30px;
	text-align: center;
	font-family: 'Montserrat-Semibold-LightItalick';
	font-weight: bold;
	color: black;
	font-size: 55px;
}
.section3__p {
	font-family: 'Montserrat-Semibold-LightItalick';
	font-weight: bold;
	color: #4C2405;
	text-align: center;
	font-size: 28px;
	padding-top: 20px;
}
.section3__line {
	height: 1px;
	width: 120px;
	background: gray;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 30px;
}
.sl .sec3__gar {
	height: 658px;
	background-image: url(img/garlic.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%
}
.sl .sec3__portf {
	height: 658px;
	background-image: url(img/portf.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%
}
.sl .sec3__guit {
	height: 658px;
	background-image: url(img/guit.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
}
.prev {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	left: 11px;
	margin-top: -10px;
	z-index: 1;
	transform: rotate(46deg);
	border: 2px solid white;
	border-top: none;
	border-right: none;
	transition-duration: .3s;
}
.next {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	right: 11px;
	margin-top: -10px;
	z-index: 1;
	transform: rotate(46deg);
	border: 2px solid white;
	border-bottom: none;
	border-left: none;
	transition-duration: .3s;
}
.next:hover, .prev:hover {
	cursor: pointer;
	border-color: #D3D3D3;
}
.ang {
	border-color: #4C2405;
	position: relative;
	z-index: 2;
}

/*------------section-4-----------*/

.sec4 {
	background-image: url(img/img-pattern.png);
}
.sec4__h3 {
	color: black;
	padding-top: 70px;
	text-align: center;
	font-family: 'Montserrat-Semibold-LightItalick';
	font-weight: bold;
	font-size: 55px;
}
.sec4__p {
	color: #4C2405;
	font-family: 'Montserrat-Semibold-LightItalick';
	font-weight: bold;
	text-align: center;
	font-size: 28px;
	padding-top: 30px;
}
.order {
	background: #4C2405;
	padding: 12px 0; 
	text-align: center;
	transition-duration: 0.5s;
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
	max-width: 360px;
	margin-bottom: 50px;
}
.order:hover {
	background: #381A04;
}
.order span {
	color: white;
	font-size: 20px;
	font-family: 'Montserrat-Semibold-LightItalick';
	font-weight: bold;
}
.for-span {
	color: white;
	font-family: 'Montserrat-Semibold-LightItalick';
	margin-top: 20px;
	padding-bottom: 50px;
}
.for-span div {
	margin: 0 auto;
}
.for-span span {
	margin-bottom: 25px;
	display: block;
	color: black;
}
.tg {
	height: 45px;
	width: 45px;
	background-image: url(img/tm.png);
	background-size: cover;
}
.sk {
	height: 45px;
	width: 45px;
	background-image: url(img/sk.png);
	background-size: cover;
}
.wp {
	height: 45px;
	width: 45px;
	background-image: url(img/wp.png);
	background-size: cover;
}
.wire {
	height: 45px;
	width: 45px;
	background-image: url(img/wire.png);
	background-size: cover;
}
.viber {
	height: 47px;
	width: 45px;
	background-image: url(img/viber.png);
	background-size: cover;
}
/*----------footer--------------*/

.footer {
	width: 100%;
	background-image: url(img/desc3.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.footer__i {
	margin: 0 auto;
	text-align: center;
}
.footer__i a i {
	border-left: 1px solid white;
}
.fa-vk {
	border-right: 1px solid white;

}
.footer__i i {
	padding: 20px 40px;
	font-size: 32px;
	color: gray;
	transition-duration: .5s;
}
.footer__i i:hover {
	color: #2A2A2A;
}