main.home
	.home__card
		form.form
			+lazyPicture({
				src: `${baseDir}images/avatar.jpg`,
				alt: 'avatar',
			}).form__picture
			.form__content
				input.form__input(placeholder="Евгений")
				input.form__input(placeholder="07.08.1985")
				input.form__input(placeholder="Новомосковск")
				input.form__input(placeholder="89539685669")
		.skill
			h3.skill__title
				| Навыки
			.skill__row
				each object, key in data.skill
					.skill__label(class=`${object.isActive}`)
					i.skill__square
					!= object.name
		.level
			.level__dashboard
				i.level__arrow
			p.level__text
				| Мой уровень владеня
				<br>
				| Java Script
				span.level__counter#counter
					| 0