@media screen and (max-width: 1864px) {
	.details .block1 img {
		width: 70%;
	}
	.details .block2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 15px;
	}
	.details h2 {
		font-size: 40px;
		padding-bottom: 15px;
	}
	.details .text {
		font-size: 24px;
	}
	.details .block3 {
		justify-content: space-around;
	}
}
@media screen and (max-width: 1440px) {
	.banner .bg {
		padding-bottom: 120px;
		padding-top: 20px;
	}
	.banner header {
		padding-bottom: 120px;
	}
	.banner .content_block2 {
		padding-right: 0;
		text-align: right;
	}
	.banner .content_block2 img {
		width: 78%;
	}
	.banner header .logo {
		width: 50px;
		height: 50px;
	}
	.banner header .block1 {
		max-width: 285px;
	}
	.banner header .block2 {
		max-width: 380px;
	}
	.banner header h1 {
		font-size: 35px;
	}
	.banner header .btn-login {
		font-size: 25px;
		padding: 15px;
	}
	.banner .content_block1 {
		min-height: 311px;
	}
	.banner h2 {
		font-size: 25px;
	}
	.banner .content_text {
		font-size: 18px;
	}
	.banner .btn-read {
		font-size: 25px;
	}
	.banner .content_a {
	    max-width: 241px;
	    width: 100%;
	    height: 79px;
}
@media screen and (max-width: 822px) {
	.banner header .block1, .banner header .block2 {
		justify-content: space-around;
	}
	.banner .content_text {
		padding: 15px 0;
	}
}
@media screen and (max-width: 651px) {
	.banner header {
    	padding-bottom: 40px;
	}
	.banner header .block1, .banner header .block2 {
		flex-direction: column;
	}
	.banner header h1 {
		font-size: 25px;
	}
	.banner header .text {
		font-size: 16px;
	}
	.banner header .btn-login {
		font-size: 20px;
		padding: 10px;
	}
	.banner .content {
		flex-direction: column-reverse;
	}
	.banner .content_block2 {
		padding-top: 20px;
		text-align: center;
	}
	.banner .content_block2 img {
		width: 61%;
	}
}