@media screen and (max-width: 1254px) {
	.service__block1 span {
		margin-right: 0;
	}
}
@media screen and (max-width: 1240px) {
	.slick-dots {
		bottom: -85px;
	}
	.slick-dots li {
		margin-right: 8.6%;
	}
	.slick-dots li:last-child {
		margin-right: 0;
	}
	.text1, .text2, .text3, .text4 {
		display: none;
	}
	.slick-dots li:nth-child(1):after {
	    content: '01 intro';
	    font-size: 20px;
		color: white;
	}
	.slick-dots li:nth-child(2):after {
	    content: '02 work';
	    font-size: 20px;
		color: white;
	}
	.slick-dots li:nth-child(3):after {
	    content: '03 about';
	    font-size: 20px;
		color: white;
	}
	.slick-dots li:nth-child(4):after {
	    content: '04 contacts';
	    font-size: 20px;
		color: white;
	}
	.slick-dots li:hover {
		cursor: default;
	}
	/*---------------about---------------*/
	.gallery .gallery__item1, .gallery .gallery__item2, .gallery .gallery__item3 {
		height: 221px;
		max-width: 30vw;
	}
	.gallery2 .gallery2__pic1, .gallery2 .gallery2__pic2, .gallery2 .gallery2__pic3 {
		height: 221px;
		max-width: 30vw;
	}
	.facts .facts__item {
		padding: 0 30.5px;
	}
	.quote .quote__wrapper {
   		 margin: 20px 20px 20px 20px; 
	}

	/*---------------our team---------------*/
	.gallery .gallery__i1, .gallery .gallery__i2, .gallery .gallery__i3 {
		height: 350px;
		max-width: 30vw;
	}
	.gallery2 .gal2__pic1, .gallery2 .gal2__pic2, .gallery2 .gal2__pic3 {
		height: 350px;
		max-width: 30vw;
	}
	.gallery-wrapper .item-flex {
    width: 100%;
    max-width: 30vw;
	}
}
@media screen and (max-width: 1199px) {
	.service__line {
		display: none;
	}
	.service .service__line-hidden {
		display: block;
	}
}
@media screen and (max-width: 1197px) {
	.facts__text {
		height: 25%;
	}
}
@media screen and (max-width: 1152px) {
	.slick-dots li {
		margin-right: 8.5%;
	}
}
@media screen and (max-width: 1026px) {
	.quote__text .text-top, .quote__text .jon {
		font-size: 16px;
	}
	.quote .rectangle {
		margin-right: 20px;
		padding: 25px;
	}
	.quote__text .quote__flex {
		margin-top: 0;
	}
	.quote .rectangle {
		padding: 20px;
	}
	.quote .rectangle img {
		width: 33px;
		height: 33px;
	}
	.quote__text .red__line {
		margin-bottom: 10px;
		width: 30px;
	}
	.quote__text .jon {
		margin-top: 0;
	}
}
@media screen and (max-width: 996px) {
	.slick-dots li {
		margin-right: 8.4%;
	}
	.future .rel__img2 {
		left: 70%;
	}
}
@media screen and (max-width: 877px) {
	.slick-dots li {
		margin-right: 8.3%;
	}
	.gallery-wrapper .bg1-flex div {
		padding: 10px;
		width: 44px;
	}
	.gallery-wrapper .bg1-flex i {
			font-size: 20px;
		}	
}
@media screen and (max-width: 835px) {
	.facts {
		margin-top: 60px;
	}
	.facts .facts__item {
		justify-content: flex-start;
		padding: 0 2px;
		height: 110px;
	}
	.facts .facts__number {
		font-size: 44px;
	}
	.facts .facts__text {
		font-size: 12px;
	}
}
@media screen and (max-width: 784px) {
	.slick-dots li {
		margin-right: 8.2%;
	}
}
@media screen and (max-width: 776px) {
	.facts .facts__number {
		font-size: 42px;
	}
	.facts .facts__text {
		font-size: 12px;
	}
}
@media screen and (max-width: 768px) {
	.nav {
		justify-content: flex-start;
	}
	.nav .logo {
		font-size: 18px;
	}
	.nav .header__ul li {
		margin: 0 auto;
	}
	.hidden-menu {
		position: absolute;
		width: 100%;
		list-style:none;
		flex-direction: column;
		margin: 0 auto;
		padding: 15px;
		box-sizing: border-box;
		background: rgba(46,46,46,.9);
		top: -385px;
		left: 0;
		transition: top .5s;
	}
	.btn-menu {
		position: absolute;
		display: block;
		border-radius: 3px;
		padding: 10px;
		right: 5px;
		cursor: pointer;
		width: 42px;
		top: 5px;
	}
	.btn-menu span {
		display: block;
		height: 2px;
		background: white;
		margin: 4px 0 0;
		transition: all .1s linear .23s;
		position: relative;
		border-radius: 5px;
	}
	.btn-menu span.first {
		margin-top: 0;
	}
	.hidden-menu-ticker:checked ~ .hidden-menu {
		top: 45px;
		height: inherit;
	}
	.nav .header__ul {
		margin: 0 auto;
		max-width: 767px;
		width: 100%;
	}
	.hidden-menu li {
		text-align: center;
		display: block;
	}
	.top-menu a:hover,
	.top-menu a.active {
    	color: @colorYellow;
    	border-bottom: none;
	}
	.hidden-menu li a {
		list-style: none;
		display: block;
		margin: 0;
		color: white;
		padding: 10px;
		text-decoration: none;
		transition: all .2s;
		font-size: 16px;
		text-transform: uppercase;
	}
	.nav .header__ul .li-last {
		margin: 0 auto;
	}
	.li-sh {
		text-align: center;
	}
	.li-fi {
		text-align: center;
	}
	.shop {
		margin-right: 0;
		padding: 15px;
	}
	.find {
		margin-right: 0;
		padding: 15px;
	}
	.container-fluid .header__p {
		padding-top: 50px;
	}
	.slick-dots li:nth-child(n):after {
		font-size: 16px;	
	}
	/*---------------about---------------*/
	.about .gallery {
		margin-top: 40px;
		flex-direction: column;
		align-items: center;
	}
	.gallery .gallery__item1, .gallery .gallery__item2, .gallery .gallery__item3 {
		height: 251px;
		max-width: 382px;
		margin-bottom: 15px;
	}
	.about .gallery2 {
		flex-direction: column;
		align-items: center;
	}
	.gallery2 .gallery2__pic1, .gallery2 .gallery2__pic2, .gallery2 .gallery2__pic3 {
		height: 251px;
		max-width: 382px;
		margin-bottom: 15px;
		position: relative;
	}
	.future .future__img {
		height: 363px;
		max-width: 280px;
	}
	.future .rel__img2 {
		left: 70%;
	}
	.future .future__img2 {
		height: 261px;
		max-width: 170px;
	}
	/*---------------our team---------------*/
	.our_team .gallery {
		flex-direction: column;
		align-items: center;
	}
	.gallery .gallery__i1, .gallery .gallery__i2, .gallery .gallery__i3 {
		height: 401px;
		max-width: 384px;
	}
	.gallery-wrapper .gallery2 {
		flex-direction: column;
		align-items: center;
	}
	.gallery2 .gal2__pic1, .gallery2 .gal2__pic2, .gallery2 .gal2__pic3 {
		height: 401px;
		max-width: 384px;
		margin-bottom: 65px;
		position: relative;
	}
	.gallery-wrapper .item-flex {
  	 	height: 401px;
		max-width: 384px;
		margin-bottom: 65px;
	}
	.gallery-wrapper .text-name {
		margin-top: 7px;
	}
}
@media screen and (max-width: 767px) {
	.block-a {
		margin-top: 5px;
	}
}
@media screen and (max-width: 710px) {
	.slick-dots li {
		margin-right: 8.1%;
	}
}
@media screen and (max-width: 650px) {
	.slick-dots li {
		margin-right: 8%;
	}
}
@media screen and (max-width: 635px) {
	.home .container-fluid h1 {
		font-size: 12vw;
	}
	.home .container-fluid .header__p {
		font-size: 8vw;
	}
		.future .rel__img2 {
		left: 74%;
	}
}
@media screen and (max-width: 624px) {
	.quote .rectangle {
		padding: 15px;
	}
	.quote .rectangle img {
		width: 30px;
		height: 30px;
	}
	.quote__text .text-top, .quote__text .jon {
		font-size: 14px;
	}
@media screen and (max-width: 599px) {
	.slick-dots li {
		margin-right: 7.9%;
	}
}
@media screen and (max-width: 575px) {
	.service .service__line {
		display: block;
	}
	.service .service__line-hidden2 {
		display: block;
	}
	.future .rel__img2 {
		left: 76%;
	}
}
@media screen and (max-width: 557px) {
	.slick-dots li {
		margin-right: 7.8%;
	}
	.facts .facts__item {
		padding: 0 2px;
		height: 95px;
	}
	.facts .facts__number {
		font-size: 22px;
	}
	.facts .facts__text {
		font-size: 11px;
	}
}
@media screen and (max-width: 521px) {
	.slick-dots li {
		margin-right: 7.7%;
	}
	.future .rel__img2 {
		left: 78%;
	}
	.work .rel__wrapper i {
		font-size: 16px;
		top: 32%;
	}
	.work .rel__wrapper .rel__text {
		font-size: 14px;
	}
	.work .rel__wrapper .rel__text2 {
		font-size: 12px;
		top: 63%;
	}
	.work .rel__wrapper .col3 .rel__text2 {
		top: 58%;
	}

}
@media screen and (max-width: 499px) {
	.slick-dots li:nth-child(n):after {
		font-size: 14px;	
	}
}
@media screen and (max-width: 489px) {
	.slick-dots li {
		margin-right: 7.6%;
	}
}
@media screen and (max-width: 462px) {
	.slick-dots li {
		margin-right: 7.5%;
	}
}
@media screen and (max-width: 442px) {
	.header__4sec {
		padding-bottom: 30px;
	}
	.slick-dots {
    	bottom: -55px;
	}
	.slick-dots li:nth-child(n):after {
		display: none;
	}
	.slick-dots li.slick-active button:before {
    	background: #f38181;
    	width: 100%;
    	height: 3px;
	}
	.slick-dots li {
		height: 3px;
	}
	.slick-dots li button:hover:before {
    	height: 3px;
    	width: 50px;
	}
}
@media screen and (max-width: 437px) {
	.slick-dots li {
		margin-right: 7.4%;
	}
	.future .future__img {
		height: 301px;
		max-width: 220px;
	}
	.future .future__img2 {
		height: 241px;
		max-width: 150px;
	}
}
@media screen and (max-width: 425px) {
	.gallery .gallery__i1, .gallery .gallery__i2, .gallery .gallery__i3 {
		height: 401px;
		max-width: 94vw;
	}
	.gallery2 .gal2__pic1, .gallery2 .gal2__pic2, .gallery2 .gal2__pic3 {
		height: 401px;
		max-width: 94vw;
		margin-bottom: 65px;
		position: relative;
	}
	.gallery-wrapper .item-flex {
  	 	height: 401px;
		max-width: 94vw;
		margin-bottom: 65px;
	}
}
@media screen and (max-width: 415px) {
	.slick-dots li {
		margin-right: 7.2%;
	}
}
@media screen and (max-width: 378px) {
	.slick-dots li {
		margin-right: 7%;
	}
}
@media screen and (max-width: 375px) {
	.hidden-menu-ticker:checked ~ .hidden-menu {
		top: 44px;
	}
	.nav .logo {
		font-size: 16px;
	}
	.home .container-fluid .header__p {
		padding-top: 40px;
	}
	.brand .image {
 		width: 100px;
 		height: 100px;
 	}
 	.brand .image img {
		width: 100px;
 		height: 100px;	
 	}
 	.work .rel__wrapper i {
		font-size: 16px;
		top: 32%;
	}
	.work .rel__wrapper .rel__text {
		font-size: 12px;
	}
	.work .rel__wrapper .rel__text2 {
		font-size: 12px;
		top: 63%;
	}
	.work .rel__wrapper .col3 .rel__text2 {
		top: 58%;
	}
}
@media screen and (max-width: 348px) {
	.slick-dots li {
		margin-right: 6.8%;
	}
}
@media screen and (max-width: 323px) {
	.slick-dots li {
		margin-right: 6.6%;
	}
}
	/*---------------IE---------------*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here */ 
	.service .service__flex-img {
		display: block;
		height: 34px;
		padding-top: 4px;
		margin-bottom: 14px;
		padding-left: 0;
	}
}