@media screen and (max-width: 1240px) {
	.nav {
		justify-content: center;
	}
	.nav .header__ul {
		margin-left: 0;
	}
	.slick-dots {
		bottom: -85px;
	}
	.slick-dots li:first-child {
		margin-left: 10.8%;
	}
	.slick-dots li {
		margin-right: 2%;
	}
	.text1, .text2, .text3, .text4 {
		display: none;
	}
	.slick-dots li:nth-child(1):after {
	    content: '01 intro';
	    font-size: 20px;
		color: white;
	}
	.slick-dots li:nth-child(2):after {
	    content: '02 work';
	    font-size: 20px;
		color: white;
	}
	.slick-dots li:nth-child(3):after {
	    content: '03 about';
	    font-size: 20px;
		color: white;
	}
	.slick-dots li:nth-child(4):after {
	    content: '04 contacts';
	    font-size: 20px;
		color: white;
	}
	.slick-dots li:hover {
		cursor: default;
	}
	/*---------------about---------------*/
	.about .gallery {
		justify-content: space-around;
	}
	.gallery .gallery__item1, .gallery .gallery__item2, .gallery .gallery__item3 {
		height: 221px;
		max-width: 30vw;
	}
	.about .gallery2 {
		justify-content: space-around;
	}
	.gallery2 .gallery2__pic1, .gallery2 .gallery2__pic2, .gallery2 .gallery2__pic3 {
		height: 221px;
		max-width: 30vw;
	}
	.about .gallery3 {
		justify-content: space-around;
		top: -442px;
	}
	.gallery3 .gallery3__pic1, .gallery3 .gallery3__pic2, .gallery3 .gallery3__pic3 {
		height: 221px;
		max-width: 30vw;
	}
	.facts .facts__item {
		padding: 0 30.5px;
	}
}
@media screen and (max-width: 768px) {
	.nav {
		justify-content: flex-start;
	}
	.nav .logo {
		margin-left: 15px;
		font-size: 18px;
	}
	.nav .header__ul li {
		margin: 0 auto;
	}
	.hidden-menu {
		position: absolute;
		width: 100%;
		list-style:none;
		flex-direction: column;
		margin: 0 auto;
		padding: 15px;
		box-sizing: border-box;
		background: rgba(46,46,46,.9);
		top: -385px;
		left: 0;
		transition: top .5s;
	}
	.btn-menu {
		position: absolute;
		display: block;
		border-radius: 3px;
		padding: 0 10px;
		right: 15px;
		cursor: pointer;
		width: 42px;
		top: 15px;
	}
	.btn-menu span {
		display: block;
		height: 2px;
		background: white;
		margin: 4px 0 0;
		transition: all .1s linear .23s;
		position: relative;
		border-radius: 5px;
	}
	.btn-menu span.first {
		margin-top: 0;
	}
	.hidden-menu-ticker:checked ~ .hidden-menu {
		top: 47px;
	}
	.nav .header__ul {
		margin: 0 auto;
	}
	.hidden-menu li {
		text-align: center;
		display: block;
	}
	.top-menu a:hover,
	.top-menu a.active {
    	color: @colorYellow;
    	border-bottom: none;
	}
	.hidden-menu li a {
		list-style: none;
		display: block;
		margin: 0;
		color: white;
		padding: 10px;
		text-decoration: none;
		transition: all .2s;
		font-size: 16px;
		text-transform: uppercase;
	}
	.nav .header__ul .li-last {
		margin: 0 auto;
	}
	.li-sh {
		text-align: center;
	}
	.li-fi {
		text-align: center;
	}
	.shop {
		margin-right: 0;
		padding: 15px;
	}
	.find {
		margin-right: 0;
		padding: 15px;
	}
	.slick-dots li:nth-child(n):after {
		font-size: 16px;	
	}
	/*---------------about---------------*/
	.about .gallery {
		margin-top: 40px;
		flex-direction: column;
		align-items: center;
	}
	.gallery .gallery__item1, .gallery .gallery__item2, .gallery .gallery__item3 {
		height: 251px;
		max-width: 382px;
		margin-bottom: 15px;
	}
	.about .gallery2 {
		flex-direction: column;
		align-items: center;
	}
	.gallery2 .gallery2__pic1, .gallery2 .gallery2__pic2, .gallery2 .gallery2__pic3 {
		height: 251px;
		max-width: 382px;
		margin-bottom: 15px;
		position: relative;
	}
	.about .gallery3 {
		top: -1596px;
		flex-direction: column;
		align-items: center;

	}
	.gallery3 .gallery3__pic1, .gallery3 .gallery3__pic2, .gallery3 .gallery3__pic3 {
		height: 251px;
		max-width: 382px;
		margin-bottom: 15px;
		position: relative;
	}
}
@media screen and (max-width: 635px) {
	.home .container-fluid h1 {
		font-size: 12vw;
	}
	.home .container-fluid .header__p {
		font-size: 8vw;
	}
}
@media screen and (max-width: 499px) {
	.slick-dots li:nth-child(n):after {
		font-size: 14px;	
	}
}
@media screen and (max-width: 442px) {
	.slick-dots {
    bottom: -55px;
	}
	.slick-dots li:nth-child(n):after {
		display: none;
	}
	.slick-dots li.slick-active button:before {
    	background: #f38181;
    	width: 100%;
	}
}
@media screen and (max-width: 375px) {
	.hidden-menu-ticker:checked ~ .hidden-menu {
		top: 44px;
	}
	.nav .logo {
		font-size: 16px;
	}
	.home .container-fluid .header__p {
		padding-top: 70px;
	}
}