@font: 'Montserrat', sans-serif;
@colorYellow: #fce38a;
@colorRed: #f38181;
@colorRed2: #ea6361;
@colorGree: #eaffd0;
@colorBlue: #95e1d3;


body {
	 font-family: @font;
}
a {
	color: white;
}
a:hover {
	text-decoration: none;
	color: white;
}

//---------------HEADER------------------------- 

.header-bg2 {
	background-image: url(img/picture.png);
	opacity: 0.9;
	width: 100%;
	height: 635px;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
}
.header-bg {
	height: 635px;
	width: 100%;
	background-image: url(img/layer.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.bg-menu {
		// background: @colorRed2;
		position: fixed;
		width: 100%;
		z-index: 6;
		height: 50px;
	}
	//---------NAV----------
	.nav {
		display: flex;
		align-items: center;
  		max-width: 1200px;
  		width: 100%;
  		height: inherit;
  		margin: 0 auto;
  		.logo {
			font-weight: bold;
			color: white;
			font-size: 22px;
		}
		.hidden-menu-ticker {
	  		display: none;
		}
		#top-menu li.active a {
	    	border-bottom: 2px solid #fce38a;
	    	color: #fce38a;
		}
		.header__ul {
				margin-bottom: 0;
				margin-left: 497px;
			.li-first {
			}
			li {
				display: inline-block;
				font-size: 14px;
				text-transform: uppercase;
				margin-right: 35px;
				a {
					color: white;
					padding-bottom: 5px;
					-webkit-transition: .5s all ease-out;
		    		-moz-transition: .5s all ease-out;
		   			 transition: .5s all ease-out;
		   			 // border-bottom: 2px solid @colorRed2;
				}
				a:hover {
					text-decoration: none;
					color: #fce38a;
				}
			}
			.li-last {
				margin-right: 39px;
			}
		}
		.shop {
			text-decoration: none;
			margin-right: 31px;
		}
		.find {
			text-decoration: none;
		}
		//---------SEARCH----------
		.search {
			position: fixed;
			height: 100%;
			width: 100%;
			background: rgba(6,6,6,0.9);
			z-index: 70;
			.search__input {
				left: 50%;
				top: 50%;
				position: absolute;
				transform: translate(-50%, -50%);
				border: none;
				background: transparent;
				outline: none;
				width: 90%;
				border-bottom: 1px solid #999;
				color: #999;
				font-size: 40px;
			}
		}
	}
	.container-fluid {
		max-width: 1230px;
		position: relative;
		z-index: 2;
		.header__p {
			text-align: center;
			font-size: 50px;
			color: white;
			padding-top: 110px;
			font-family: 'Kaushan Script', cursive;
		}
		h1 {
			text-align: center;
			color: white;
			text-transform: uppercase;
			line-height: 1;
			font-weight: bold;
			width: 100%;
			font-size: 95px;
		}
		.header__line {
			width: 62px;
			background: white;
			height: 2px;
			margin: 0 auto;
			margin-top: 10px;
		}
		.header__btn {
			display: flex;
			justify-content: center;
			margin-top: 30px;
			a {
			text-transform: uppercase;
			color: white;
			padding: 5px 20px;
			border: 2px solid white;
			font-weight: bold;
			}
		}
	}
}
.header__4sec {
	display: flex;
	padding-top: 3%;
	max-width: 1200px;
	width: 100%;
}
.text1, .text2, .text3, .text4 {
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	margin-top: 10px;
	margin-bottom: 15px;
	margin-right: 254px;
}
.text4 {
	margin-right: 0;
}
.text1 span, .text2 span, .text3 span, .text4 span {
	font-size: 20px;
	color: white;
	font-weight: bold;
	margin-right: 5px;
}

	// a:nth-child(2) {
	// 	float: left;
	// 	padding-top: 23px;
	// 	padding-left: 40%;
	// 	color: white;
	// 	font-family: @font;
	// 	font-size: 100%;
	// 	text-decoration: none;
	// }
	// a:nth-child(3) {
	// 	.nav;
	// }
	// a:nth-child(4) {
	// 	.nav;
	// }
	// a:nth-child(5) {
	// 	.nav;
	// }
	// a:nth-child(6) {
	// 	.nav;
	// }
	// a:hover {
	// 	text-decoration: underline;
	// 	color: @colorYellow;
	// }
	// img {
	// 	float: left;
	// 	padding-top: 23px;
	// 	padding-left: 3%;
	// }
	// img:nth-child(8) {
	// 	padding-left: 2%;
	// }
	// span:nth-child(9) {
	// 	color: white;
	// 	font-size: 450%;
	// 	float: left;
	// 	margin-top: 50px;
	// 	margin-left: 23%;
	// 	font-family: 'Nanum Brush Script', cursive;
	// }
	// span:nth-child(10) {
	// 	color: white;
	// 	font-size: 650%;
	// 	float: left;
	// 	margin-top: 10px;
	// 	margin-left: 32%;
	// 	font-family: @font;
	// 	font-weight: bold;
	// }
	// img:nth-child(11) {
	// 	float: left;
	// 	clear: left;
	// 	margin-left: 44.4%;
	// }
	// span:nth-child(12) {
	// 	color: white;
	// 	float: left;
	// 	clear: left;
	// 	margin-top: 40px;
	// 	margin-left: 44%;
	// 	font-size: 120%;
	// 	border: 3px solid white;
	// 	padding: 8px;
	// }
	// img:nth-child(13) {
	// 	float: left;
	// 	clear: left;
	// 	margin-left: 2.5%;
	// 	margin-top: 28px;
	// }
	// img:nth-child(14) {
	// 	float: left;
	// 	margin-left: -24%;
	// 	margin-top: 28px;
	// }
	// img:nth-child(15) {
	// 	.img
	// }
	// img:nth-child(16) {
	// 	.img
	// }
	// img:nth-child(17) {
	// 	.img
	// }
	// span:nth-child(18) {
	// 	float: left;
	// 	clear: left;
	// 	color: white;
	// 	font-size: 210%;
	// 	font-weight: bolder;
	// 	margin-top: 27px;
	// 	margin-left: 5.5%; 
	// }
	// span:nth-child(19) {
	// .span
	// }
	// span:nth-child(20) {
	// .span
	// }      
	// span:nth-child(21) {
	// .span
	// }
	// }

/*-------story about us-----*/

// .about-us {
// 	height: 688px;
// }
// .about-us__title1 {
// 	font-family: @font2;
// 	font-size: 200%;
// 	float: left;
// 	margin-left: 45%;
// 	margin-top: 30px;
// }
// .about-us__title2 {
// 	font-family: @font;
// 	font-size: 200%;
// 	float: left;
// 	margin-left: 39.3%;
// 	font-weight: bold;
// }
// .about-us__line {
// 	float: left;
// 	margin-left: 47%;
// 	clear: left;
// 	margin-top: 35px;
// }
// .about-us__text1 {
// 	float: left;
// 	font-weight: 120%;
// 	font-family: @font;
// 	margin-left: 12%;
// 	margin-top: 35px;
// }
// .about-us__text2 {
// 	float: left;
// 	font-weight: 120%;
// 	font-family: @font;
// 	margin-left: 26%;
// 	margin-top: 5px;
// }
/*-----pictures-----*/
// .about-us__blue-rectangle {
// 	float: left;
// 	clear: left;
// 	margin-top: 76px;
// 	margin-left: 3.5%;
// }
// .about-us__image-desktop {
// 	float: left;
// 	clear: left;
// 	margin-top: -255px;
// 	margin-left: 3%;
// }
// .about-us__gradient {
// 	float: left;
// 	clear: left;
// 	margin-left: 3%;
// 	margin-top: -255px;
// 	opacity: 0.9;
// }
// .about-us__users {
// 	float: left;
// 	clear: left;
// 	margin-left: 16%;
// 	margin-top: -145px;
// 	opacity: 0.9;
// }
// .about-us__text3 {
// 	float: left;
// 	clear: left;
// 	margin-left: 13.5%;
// 	margin-top: -120px;
// 	color: white;
// 	opacity: 0.9;
// 	font-weight: bold;
// 	font-family: @font;
// }
// .about-us__img-nature {
// 	float: left;
// 	height: 355px;
// 	width: 380px;
// 	background-image: url(images/Layer-39.png);
// 	background-size: 75%;
// 	background-repeat: no-repeat;
// 	margin-top: -255px;
// 	margin-left: 39%;
// }
// .about-us__img-desctop {
// 	float: left;
// 	margin-top: -255px;
// }

/*------banner-----*/

// .banner {
// 	height: 150px;
// 	background-color: @colorBlue;
// 	}
/*-----1-------*/
// .banner__line {
// float: left;
// margin-left: 3.5%;
// }
// .banner__number42 {
// 	color: white;
// 	font-size: 400%;
// 	font-weight: bold;
// 	float: left;
// 	margin-left: 6.5%;
// 	font-family: @font;
// 	margin-top: 14px;
// }
// .banner__projects {
// 	color: white;
// 	font-family: @font;
// 	float: left;
// 	font-size: 100%;
// 	margin-top: 95px;
// 	margin-left: -9.5%;
// }
/*--------2---------*/
// .banner__line2 {
// 	float: left;
// 	margin-left: 3%;
// }
// .banner__number123 {
// 	color: white;
// 	font-size: 400%;
// 	font-weight: bold;
// 	float: left;
// 	margin-left: 5%;
// 	font-family: @font;
// 	margin-top: 14px;
// }
// .banner__client {
// 	color: white;
// 	font-family: @font;
// 	float: left;
// 	font-size: 100%;
// 	margin-top: 95px;
// 	margin-left: -7.6%;
// }
/*----------3---------*/
// .banner__line3 {
// 	float: left;
// 	margin-left: 5%;
// }
// .banner__number15 {
// 	color: white;
// 	font-size: 400%;
// 	font-weight: bold;
// 	float: left;
// 	margin-left: 6%;
// 	font-family: @font;
// 	margin-top: 14px;
// }
// .banner__winner {
// 	color: white;
// 	font-family: @font;
// 	float: left;
// 	font-size: 100%;
// 	margin-top: 95px;
// 	margin-left: -7%;
// }
/*-------4----------*/
// .banner__line4 {
// 	float: left;
// 	margin-left: 5%;
// }
// .banner__number99 {
// 	color: white;
// 	font-size: 400%;
// 	font-weight: bold;
// 	float: left;
// 	margin-left: 7%;
// 	font-family: @font;
// 	margin-top: 14px;
// }
// .banner__cofee {
// 	color: white;
// 	font-family: @font;
// 	float: left;
// 	font-size: 100%;
// 	margin-top: 95px;
// 	margin-left: -7%;
// }
/*---------5--------*/
// .banner__line5 {
// 	float: left;
// 	margin-left: 6%;
// }
// .banner__number24 {
// 	color: white;
// 	font-size: 400%;
// 	font-weight: bold;
// 	float: left;
// 	margin-left: 6.3%;
// 	font-family: @font;
// 	margin-top: 14px;
// }
// .banner__members {
// 	color: white;
// 	font-family: @font;
// 	float: left;
// 	font-size: 100%;
// 	margin-top: 95px;
// 	margin-left: -5.5%;
// }
// .banner__line6 {
// 	float: left;
// 	margin-left: 5%;
// }

/*---------service----------*/

// .service {
// 	height: 665px;
// }
// .service__title1 {
// 	font-family: @font2;
// 	font-size: 200%;
// 	float: left;
// 	margin-left: 45%;
// 	margin-top: 30px;
// }
// .service__title2 {
// 	font-family: @font;
// 	font-size: 200%;
// 	float: left;
// 	margin-left: 39.3%;
// 	font-weight: bold;
// }
// .service__line {
// 	float: left;
// 	margin-left: 47%;
// 	clear: left;
// 	margin-top: 35px;
// }
/*------service-photography-----*/
// .service {
// .photography {
// 	float: left;
// 	margin-left: 4%;
// 	clear: left;
// 	margin-top: 92px;
// }
// .photography__img-alarm {
// 	padding-top: 3px;
// 	float: left;
// }
// .photography__title {
// 	font-family: @font;
// 	font-weight: bold;
// 	float: left;
// 	margin-left: 12%;
// }
// .photography__texts {
// 	float: left;
// 	font-family: @font;
// 	margin-left: 12%;
// }
// .photography__text {
// 	margin-top: 15px;
// 	float: left;
// 	clear: left;
	
// }
// .photography__text2 {
// 	float: left;
// 	margin-top: 5px;
// 	clear: left;
// }
/*------service__web-design-----*/
// .web-design {
// 	float: left;
// 	clear: left;
// 	margin-left: 94%;
// 	margin-top: -88px;
// 	width: 350px;
// 	background: yellow;
// }
// .web-design__img-line-graph {
// 	padding-top: 3px;
// 	float: left;
// 	margin-left: -2%;
// }
// .web-design__title {
// 	font-family: @font;
// 	font-weight: bold;
// 	float: left;
// 	margin-left: 12%;
// }
// .web-design__texts {
// 	float: left;
// 	font-family: @font;
// 	margin-left: 12%;
// }
// .web-design__text {
// 	margin-top: 15px;
// 	float: left;
// 	clear: left;
	
// }
// .web-design__text2 {
// 	float: left;
// 	margin-top: 5px;
// 	clear: left;
	
// }
// }
