@font: 'Montserrat', sans-serif;
@colorYellow: #fce38a;
@colorRed: #f38181;
@colorRed2: #ea6361;
@colorGree: #eaffd0;
@colorBlue: #95e1d3;
@colorGray: #999999;
@colorGray2: #d9d9d9;


html {
	height: 100%;
}
body {
	 font-family: @font;
	 height: 100%;
}
a {
	color: white;
}
a:hover {
	text-decoration: none;
	color: white;
}
div, a {
	outline: none;
}
.title__text {
	text-align: center;
	padding-top: 91px;
	font-size: 24px;
	font-family: 'Kaushan Script', cursive;
}
.sec__h2 {
	margin-top: 10px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.red__line {
	height: 3px;
	width: 60px;
	background: #f38181;
	margin: 0 auto;
	margin-top: 31px;
}
.sec__text {
	text-align: center;
	color: @colorGray;
	font-size: 15px;
	margin-top: 45px;
	margin-bottom: 90px;
}
//------------------------- HEADER ------------------------- 

.sticky-header {
    position: fixed;
    z-index: 22;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
}
.menu-bg {
	background: #ea6361;
	transition-duration: 1s;
	opacity: 0.9;
}
.nav {
	.logo {
		font-weight: bold;
		color: white;
		font-size: 22px;
		height: 45px;
		display: flex;
		align-items: center;
		}
	.hidden-menu-ticker {
  		display: none;
	}
	.header__ul {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 45px;

		li {
			list-style-type: none;
			font-size: 14px;
			text-transform: uppercase;
			margin-left: 36px;
			a {
				padding-bottom: 5px;
			}
		}
	}
}
.top-menu a:hover,
.top-menu a.active {
    color: @colorYellow;
    border-bottom: 4px solid @colorYellow;
}
.li-fi:hover {
	cursor: pointer;
}
.search {
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(6,6,6,0.9);
	z-index: 70;
	display: none;
	.close {
		position: absolute;
		right: 15px;
		top: 15px;
		width: 39px;
		height: 39px;
		opacity: 0.3;
		}
	.close:hover {
		opacity: 1;
		cursor: pointer;
	}
	.close:before, .close:after {
		position: absolute;
		left: 15px;
		content: ' ';
		height: 49px;
		width: 5px;
		background-color: #999;
	}
	.close:before {
		transform: rotate(45deg);
	}
	.close:after {
		transform: rotate(-45deg);
	}
	.search__input {
		left: 50%;
		top: 43%;
		position: absolute;
		transform: translate(-50%, -50%);
		border: none;
		background: transparent;
		outline: none;
		width: 90%;
		border-bottom: 1px solid #999;
		color: #999;
		font-size: 40px;
	}
}

//------------------------- HOME ------------------------- 

.home {
	width: 100%;
	background-image: url(img/layer.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.home-bg2 {
	width: 100%;
	background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
}
.container-fluid {
	max-width: 1230px;
	.header__p {
		text-align: center;
		font-size: 50px;
		color: white;
		padding-top: 110px;
		font-family: 'Kaushan Script', cursive;
	}
	h1 {
		text-align: center;
		color: white;
		text-transform: uppercase;
		line-height: 1;
		font-weight: bold;
		width: 100%;
		font-size: 95px;
	}
	.header__line {
		width: 62px;
		background: white;
		height: 2px;
		margin: 0 auto;
		margin-top: 10px;
	}
	.header__btn {
		display: flex;
		justify-content: center;
		margin-top: 30px;
		a {
			font-size: 14px;
			text-transform: uppercase;
			color: white;
			padding: 5px 20px;
			border: 2px solid white;
		}
	}
}
.header__4sec {
	display: flex;
	padding-top: 35px;
	padding-bottom: 60px;
	max-width: 1200px;
	width: 100%;
}
.text1, .text2, .text3, .text4 {
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	margin-top: 10px;
	margin-bottom: 15px;
	margin-right: 254px;
}
.text4 {
	margin-right: 0;
}
.text1 span, .text2 span, .text3 span, .text4 span {
	font-size: 20px;
	color: white;
	font-weight: bold;
	margin-right: 5px;
}

//------------------------- ABOUT -------------------------

.about {
	.about__container {
		max-width: 1230px;
		padding: 0 15px;
		width: 100%;
		margin: 0 auto;
	}
	.about__text {
		text-align: center;
		padding-top: 91px;
		font-size: 24px;
		font-family: 'Kaushan Script', cursive;
	}
	.about__h2 {
		margin-top: 10px;
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.about__line {
		height: 3px;
		width: 60px;
		background: #f38181;
		margin: 0 auto;
		margin-top: 31px; 
	}
	.about__text2 {
		font-size: 15px;
		color: #999999;
		max-width: 950px;
		width: 100%;
		margin: 0 auto;
		margin-top: 45px;
		text-align: center;
	}
	.about__wrapper {
		position: relative;
	}
	.gallery {
		margin-top: 110px;
		display: flex;
		justify-content: space-between;
	}
	.gallery__item1, .gallery__item2, .gallery__item3 { 
		height: 251px;
		max-width: 382px;
		width: 100%;
		background: #95e1d3;
	}
	.gallery2 {
		position: absolute;
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 1200px;
		top: 0;
	}
	.gallery2__pic1, .gallery2__pic2, .gallery2__pic3 {
		background-size: cover;
		height: 251px;
		max-width: 382px;
		width: 100%;
		transition-duration: .5s;
		cursor: pointer;
		position: relative;
		top: 0;
		left: 0;
	}
	.gallery2__pic1 {
		background-image: url(img/desc.jpg);
	}
	.gallery2__pic2 {
		background-image: url(img/desc2.jpg);
		background-position: center;
	}
	.gallery2__pic3 {
		background-image: url(img/desc3.jpg);
	}
	.gallery2__bg1, .gallery2__bg2, .gallery2__bg3 {
		background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
	    background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
		height: inherit;
		width: 100%;
		transition-duration: .5s;
		opacity: 0;
	}
	.gallery__img {
		position: absolute;
		left: 50%;
		top: 45%;
		transform: translate(-50%, -50%);
		color: white;
		opacity: 0;
		transition-duration: .5s;
	}
	.gallery__span {
		color: white;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 12px;
		position: absolute;
		left: 50%;
		top: 55%;
		transform: translate(-50%, -50%);
		transition-duration: .5s;
	}
}
.facts {
	width: 100%;
	background: @colorBlue;
	margin-top: 120px;
	.facts__wrapper {
		width: 100%;
		max-width: 1230px;
		padding: 0 15px;
		display: flex;
		justify-content: space-around;
		margin: 0 auto;
	}
	.facts__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-left: 1px solid white;
		height: 218px;
		padding: 0 59.5px;
		width: 100%;
	}
	.facts__item:last-child {
		border-right: 1px solid white;
	}
	.facts__number {
		font-size: 72px;
		color: white;
		font-weight: bold;
	}
	.facts__text {
		font-size: 14px;
		color: white;
		text-transform: uppercase;
		text-align: center;
		width: 100%; // for ie11
	}
}

//------------------------- SERVICE -------------------------

.service {
	.service__row {
		margin-top: 66px;
		margin-bottom: 66px;
	}
	.service__flex {
		display: flex;
	}
	.service__flex-img {
		display: flex;
		height: 34px;
		padding-top: 4px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.service__flex-text {
		display: flex;
		flex-direction: column;
		padding-right: 25px;
		width: 100%; // for ie-11
	}
	.service__p {
		margin-bottom: 0;
		font-size: 14px;
		text-transform: uppercase;
		padding-bottom: 20px;
	}
	.service__span {
		color: @colorGray;
		font-size: 13px;
	}
	.service__line {
		background: @colorGray;
		height: 1px;
		width: 100%;
		margin-top: 66px;
		margin-bottom: 66px;
	}
	.service__line-hidden {
		display: none;
		background: @colorGray;
		height: 1px;
		width: 100%;
		margin-top: 66px;
		margin-bottom: 66px;
	}
	.service__line-hidden2 {
		display: none;
		background: @colorGray;
		height: 1px;
		width: 100%;
		margin-top: 66px;
		margin-bottom: 66px;
	}
}
.future {
	background-image: url(img/nature.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.future__bg {
		background: rgba(217,217,217,.8);
	}
	.future__img {
		margin-top: 40px;
		height: 463px;
		max-width: 380px;
		width: 100%;
	}
	.future__img2 {
		height: 361px;
		max-width: 170px;
	}
	.text-center {
		text-align: center;
	}
	.rel {
		position: relative;
	}
	.rel__img2 {
		position: absolute;
		transform: translate(-50%, -80%);
		left: 66%;
		top: 50%;
	}
}
.serv__img {
	background-image: url(img/photo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 397px;
}
.service__block1:hover {
	cursor: pointer;
}
.service__block1 {
	border: 1px solid @colorGray2;
	height: 59px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-radius: 1px;
	user-select: none;
	img {
		margin-left: 17px;
	}
	span {
		margin-left: 3px;
		margin-right: 360px;
		text-transform: uppercase;
		font-size: 16px;
	}
	.angle__wrapper {
		height: 20px;
		width: 20px;
		margin-right: 13px;
	}
}
.service__angle {
	border-radius: 2px;
	width: 12px;
	height: 12px;
	border-right: 3px solid @colorGray2;
	border-bottom: 3px solid @colorGray2;
	margin: 0 auto;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.service__angle-rotate {
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.ang-a {
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.ang-a_add-class {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.service__block2 {
	padding: 5px 12px!important;
	border: 1px solid @colorGray2;
	border-top: none;
	user-select: none;
	height: 210px;
	span {
		text-align: justify;
		font-size: 14px;
		color: @colorGray;
		font-family: 'Kaushan Script', cursive;
		padding-bottom: 20px;
	}
}
.block-b, .block-c {
	margin-top: 5px;
}
.block2-b, .block2-c {
	display: none;
}