body {
  font-family: 'Montserrat', sans-serif;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
.header-bg2 {
  background-image: url(img/picture.png);
  opacity: 0.9;
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
}
.bg-menu {
  background: #f38181;
  position: fixed;
  width: 100%;
  z-index: 6;
}
.menu-fixed {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.menu-flex {
  display: inline-block;
  width: 100%;
}
.logo {
  font-weight: bold;
  color: white;
  font-size: 24px;
  padding-top: 10px;
}
.header__ul {
  padding-left: 0;
  padding-top: 17px;
}
.header__ul li {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 43px;
}
.header__ul li a {
  color: white;
  padding-bottom: 5px;
  -webkit-transition: 0.5s all ease-out;
  -moz-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  border-bottom: 2px solid #f38181;
}
.header__ul li a:hover {
  text-decoration: none;
  color: #fce38a;
}
.header__ul .li-last {
  margin-right: 35px;
}
.header__ul .shop {
  text-decoration: none;
  margin-right: 21px;
}
.header__ul .find {
  text-decoration: none;
}
#top-menu li.active a {
  border-bottom: 2px solid #fce38a;
  color: #fce38a;
}
.header-bg {
  width: 100%;
  height: 100%;
  background-image: url(img/layer.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.header-bg .container-fluid {
  max-width: 1230px;
  position: relative;
  z-index: 2;
}
.header-bg .container-fluid .header__p {
  text-align: center;
  font-size: 4vw;
  color: white;
  padding-top: 120px;
  font-family: 'Kaushan Script', cursive;
}
.header-bg .container-fluid h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
  width: 100%;
  font-size: 8vw;
}
.header-bg .container-fluid .header__line {
  width: 62px;
  background: white;
  height: 2px;
  margin: 0 auto;
  margin-top: 10px;
}
.header-bg .container-fluid .header__btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.header-bg .container-fluid .header__btn a {
  text-transform: uppercase;
  color: white;
  padding: 5px 20px;
  border: 2px solid white;
  font-weight: bold;
}
.header-bg .container-fluid .header__4sec {
  display: flex;
  padding-top: 3%;
  justify-content: space-between;
}
.header-bg .container-fluid .header__4sec .sec1,
.header-bg .container-fluid .header__4sec .sec2,
.header-bg .container-fluid .header__4sec .sec3,
.header-bg .container-fluid .header__4sec .sec4 {
  max-width: 270px;
  width: 100%;
  background: transparent;
}
.header-bg .container-fluid .header__4sec .text1,
.header-bg .container-fluid .header__4sec .text2,
.header-bg .container-fluid .header__4sec .text3,
.header-bg .container-fluid .header__4sec .text4 {
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
}
.header-bg .container-fluid .header__4sec .text1 span,
.header-bg .container-fluid .header__4sec .text2 span,
.header-bg .container-fluid .header__4sec .text3 span,
.header-bg .container-fluid .header__4sec .text4 span {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-right: 5px;
}
