body {
  font-family: 'Montserrat', sans-serif;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
.section {
  min-height: 768px;
  height: 100vh;
  text-align: center;
  padding: 70px 20px;
}
.sticky-header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
}
.top-menu a:hover,
.top-menu a.active {
  color: #fce38a;
  border-bottom: 1px solid #fce38a;
}
.bg-menu {
  background: #ea6361;
  position: fixed;
  width: 100%;
  z-index: 6;
}
.nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.nav .logo {
  font-weight: bold;
  color: white;
  font-size: 22px;
}
.nav .hidden-menu-ticker {
  display: none;
}
.nav .top-menu a.active {
  border-bottom: 2px solid #fce38a;
  color: #fce38a;
}
.nav .header__ul {
  margin-bottom: 0;
  margin-left: 497px;
  display: flex;
}
.nav .header__ul li {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 35px;
}
.nav .header__ul li a {
  padding-bottom: 5px;
}
.nav .header__ul li a:hover {
  text-decoration: none;
  color: #fce38a;
}
.nav .header__ul .li-last {
  margin-right: 54px;
}
.li-fi:hover {
  cursor: pointer;
}
.search {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(6, 6, 6, 0.9);
  z-index: 70;
  display: none;
}
.search .close {
  position: absolute;
  right: 42px;
  top: 22px;
  width: 39px;
  height: 39px;
  opacity: 0.3;
}
.search .close:hover {
  opacity: 1;
  cursor: pointer;
}
.search .close:before,
.search .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 49px;
  width: 5px;
  background-color: #999;
}
.search .close:before {
  transform: rotate(45deg);
}
.search .close:after {
  transform: rotate(-45deg);
}
.search .search__input {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent;
  outline: none;
  width: 90%;
  border-bottom: 1px solid #999;
  color: #999;
  font-size: 40px;
}
.home-bg2 {
  background-image: url(img/picture.png);
  opacity: 0.9;
  width: 100%;
  height: 635px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
}
.home {
  height: 635px;
  width: 100%;
  background-image: url(img/layer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container-fluid {
  max-width: 1230px;
  position: relative;
  z-index: 2;
}
.container-fluid .header__p {
  text-align: center;
  font-size: 50px;
  color: white;
  padding-top: 110px;
  font-family: 'Kaushan Script', cursive;
}
.container-fluid h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
  width: 100%;
  font-size: 95px;
}
.container-fluid .header__line {
  width: 62px;
  background: white;
  height: 2px;
  margin: 0 auto;
  margin-top: 10px;
}
.container-fluid .header__btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.container-fluid .header__btn a {
  text-transform: uppercase;
  color: white;
  padding: 5px 20px;
  border: 2px solid white;
  font-weight: bold;
}
.header__4sec {
  display: flex;
  padding-top: 3%;
  max-width: 1200px;
  width: 100%;
}
.text1,
.text2,
.text3,
.text4 {
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 254px;
}
.text4 {
  margin-right: 0;
}
.text1 span,
.text2 span,
.text3 span,
.text4 span {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-right: 5px;
}
