-
	const data = {
		header: {
			links: {
				logo: 'https://ninelines.agency/',
			},
			menu: [
				{
					url: '#hello',
					name: 'Ну привет'
				},
				{
					url: '#necessarily',
					name: 'Обязательно к прочтению'
				},
				{
					url: '#bye',
					name: 'И пока'
				}
			]
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		home: {
			title: 'гид&nbsp;по <br><span class="for-desktop">бережному</span><span class="for-devices">общению</span>',
			read: 'Читать',
		},

		modal: {
			close: 'Закрыть',
		},

		cards: [
				{
					image: 'images/image1.png',
					price: '189 ₽',
					text: 'Oral-B ополаскиватель для полости рта Комплекс LASTING FRESHNESS Arctic Mint 250 мл',
				},
				{
					image: 'images/image2.png',
					price: '801 ₽',
					text: 'Сменные насадки для электрических зубных щеток Oral-B Sensi Ultrathin для бережной чистки, 2 шт.',
				},
				{
					image: 'images/image3.png',
					price: '2 289 ₽',
					text: 'Сменные насадки для электрических зубных щеток Oral-B Sensi Ultrathin для бережной чистки, 2 шт.',
				},
				{
					image: 'images/image4.png',
					price: '540 ₽',
					priceNew: '385 ₽',
					text: 'Oral-B ополаскиватель для полости рта Комплекс LASTING FRESHNESS Arctic Mint 250 мл',
				},

			]
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
