
$dirFontsFuturapt: 'fonts/futurapt/';
$dirFontsIcomoon: 'fonts/icomoon/';
$dirImgs: 'imgs/';

$black: #000;
$black2: #1A1A1A;
$black3: #300857;
$black4: #111;
$black5: #323232;

$beige: #EDEAF1;
$beige2: #E7DDF0;
$beige3:  #CCB3E3;
$beige4:  #f2f0f5;
$beige5: #D7D7D7;

$blue: #291741;
$blue2: #290C5F;

$lilac: #E4D0FB;
$lilac2: #290C5F;

$red: #F13781;
$red2: #AE2F6E;
$red3: #E53B96;
$red4: #ff0000;

$violet: #6D4297;
$violet2: #71309B;
$violet3: #683C92;

$white: #fff;
$white2: #FFFBFB;

@mixin transition {
    transition: .5s;
}

/* ========================================================================= */
/* fonts */

@font-face {
    font-family: 'Futura PT';
    src: 
        url($dirFontsFuturapt + 'FuturaPT-Medium.eot'),
        url($dirFontsFuturapt + 'FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url($dirFontsFuturapt + 'FuturaPT-Medium.woff') format('woff'),
        url($dirFontsFuturapt + 'FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: 
        url($dirFontsFuturapt + 'FuturaPT-Bold.eot'),
        url($dirFontsFuturapt + 'FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url($dirFontsFuturapt + 'FuturaPT-Bold.woff') format('woff'),
        url($dirFontsFuturapt + 'FuturaPT-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url($dirFontsIcomoon + 'fonts/icomoon.eot?khfmtj');
  src:  url($dirFontsIcomoon + 'fonts/icomoon.eot?khfmtj#iefix') format('embedded-opentype'),
    url($dirFontsIcomoon + 'fonts/icomoon.ttf?khfmtj') format('truetype'),
    url($dirFontsIcomoon + 'fonts/icomoon.woff?khfmtj') format('woff'),
    url($dirFontsIcomoon + 'fonts/icomoon.svg?khfmtj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e907";
}
.icon-triangle:before {
  content: "\e906";
  color: $black;
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-clock:before {
  content: "\e901";
  color: $black;
}
.icon-growing:before {
  content: "\e902";
  color: $black;
}
.icon-heart:before {
  content: "\e903";
  color: $black;
}
.icon-loader:before {
  content: "\e904";
    color: $black;
}
.icon-loader2:before {
  content: "\e905";
  color: $black;
}
.icon-target:before {
  content: "\e909";
  color: $black;
}
.icon-tick:before {
  content: "\e90b";
  color: $black;
}

/* ========================================================================= */
/* commom */

.page {
    font-family: 'Futura PT', sans-serif;
    font-weight: 500;
}

.section {
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1562px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
@media (max-width: 678px) {
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.row {
    display: flex;
}

.round {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 62px;
    height: 62px;
    background: $white;
    border-radius: 50%;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
    transition: ease .3s;
    &:focus {
        outline: none;
    }
    &:hover {
        text-decoration: none;
    }
    &-menu {
        min-height: 30px;
        padding: 0;
        background: #fff;
        &__line {
            position: relative;
            display: block;
            width: 32px;
            height: 3px;
            background: $red;
            &:before,
            &:after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                background: $red;
            }
            &:before {
                top: -6px; 
            }
            &:after {
                bottom: -6px; 
            }
        }
    }
    &-primary {
        padding: 23px 32px;
        color: $white;
        background: $red;
        border-radius: 50px;
        &:hover {
            color: $white;
        }
    }
    &-accent {
        position: relative;
        padding: 25px 78px 22px 47px;
        color: $white;
        background: $lilac2;
        border-radius: 50px;
        &:hover {
            color: $white;
        }
        &__icon {
            position: absolute;
            right: 32px;
            &:before {
                font-size: 24px;
                color: $red2;
            }
        }
    }
    &-play {
        width: 80px;
        height: 80px;
        background: $red2;
        &__icon {
            font-size: 24px;
            &:before {
                color: $white;
            }
        }
    }
}
@media (max-width: 1000px) {
    .btn {
        &-play {
            width: 54px;
            height: 54px;
             &__icon {
                font-size: 16px;
            }
        }
    }
}
@media (max-width: 768px) {
    .btn {
        &-primary {
            padding: 23px 26px;
        }
    }
}

.title {
    margin-bottom: 0;
    color: $black;
    line-height: 120%;
    font-weight: 600;
    &-main {
        font-size: 55px;
        color: $black2;
    }
    &-second {
        font-size: 52px;
        text-align: center;
    } 
    &-third {
        font-size: 36px;
        line-height: 130%;
    }
    &_violet {
        color: $violet;
    }
}
@media (max-width: 1000px) {
    .title {
        &-second {
            font-size: 24px;
        }
        &-third {
            font-size: 18px;
        }
    }
}

.text {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 130%;
    color: $black;
    &-accent {
        font-size: 26px;
        line-height: 120%;
    }
    &-advt {
        position: relative;
        max-width: 323px;
        width: 100%;
        padding: 45px 24px 46px 52px;
        background: $white;
        border-radius: 30px;
        &__quotes {
            position: absolute;
            &._top {
                top: 0;
                left: 10px;
                transform: translateY(-50%);
            }
            &._bottom {
                bottom: 0;
                right: 30px;
                transform: translateY(50%);
            }
        }
    }
}
@media (max-width: 1000px) {
    .text {
        font-size: 14px;
    }
}

.img {
    width: 100%;
}

.input {
    max-width: 310px;
    width: 100%;
    padding: 9px 0 8px 28px;
    font-size: 16px;
    line-height: 28px;
    color: $black;
    background: $white;
    border: 1px solid #D7D7D7;
    border-radius: 20px;
    &:focus {
        outline: none;
    }
    &::placeholder {
        color: $black;
        font-size: 16px;
        line-height: 28px;
    }
}

/* ========================================================================= */
/* block header */

.page__header {
    margin-top: 34px;
}

.header {
    &__container {
        position: relative;
        z-index: 10;
        align-items: flex-end;
    }
    &__btn-menu {
        display: none;
    }
    &__info {
        margin-bottom: 0;
        margin-left: 37px;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        color: $red;
    }
    &__nav {
        margin-left: auto;
        margin-bottom: -10px;
    }
}

.logo {
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    color: $blue;
    &:hover {
        text-decoration: none;
        color: $blue;
    }
}

.nav {
    &__link {
        margin-left: 34px;
        padding: 10px 0;
        font-size: 18px;
        line-height: 23px;
        color: $black;
        &:hover {
            text-decoration: none;
            color: $black;
        }
    }
}

@media (max-width: 1250px) {
    .header {
        &__container {
            align-items: flex-end;
            justify-content: space-between;
        }
        &__btn-menu {
            display: flex;
            margin-right: 19px;
        }
        &__nav {
            display: none;
        }
    }
}

@media (max-width: 550px) {
    .logo {
        font-size: 24px;
    }
    .page__header {
        margin-top: 14px;
    }
    .header {
        &__info {
            margin-left: 15px;
            font-size: 10px;
            line-height: 12px;
        }
    }
}

/* ========================================================================= */
/* block intro */

.intro {
    &:after {
        content: ''; 
        position: absolute;
        top: 305px;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 1374px;
        background: url($dirImgs + 'bg-intro.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__title-main {
        max-width: 630px;
        padding-top: 110px;
    }
    &__row {
        margin-top: 83px;
    }
    &-block {
        display: flex;
        align-items: center;
        max-width: 343px;
        &__text {
            margin-bottom: 0;
            margin-left: 24px;
        }
    }
    &__block {
        margin-left: 58px;
    }
    &__btn-primary {
        margin-top: 83px;
    }
    &__img {
        margin-top: -58px;
        margin-right: -160px;
    }
}

@media (max-width: 1900px) {
    .intro {
        &__img {
            width: 100%;
        }
    }
}

@media (max-width: 1365px) {
    .intro {
        &:after {
            top: 110px;
            height: 1074px;
            background-size: cover;
        }
        &__title-main {
            padding-top: 20px;
            font-size: 40px;
        }
        &__row {
            margin-top: 40px;
        }
        &-block {
            flex-wrap: wrap;
            &__text {
                margin-top: 14px;
                margin-left: 0;
            }
        }
        &__btn-primary {
            margin-top: 40px;
        }
    }
}

@media (max-width: 1000px) {
    .intro {
        &:after {
            top: 610px;
        }
        &__container {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
        &__title-main {
            max-width: 100%;
        }
        &-block {
            max-width: 50%;
        }
        &__img {
            margin-top: 20px;
            margin-right: 0;
        }
    }
}

@media (max-width: 768px) {
    .intro {
        &:after {
            top: 124px;
        }
        &__title-main {
            font-size: 24px;
        }
        &__block {
            flex-direction: column;
            align-items: flex-start;
            margin-left: 12px;
        }
        &__btn-primary {
            display: flex;
            max-width: 269px;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

@media (max-width: 337px) {
    .intro {
        &:after {
            top: 337px;
            height: 1116px;
            background: url($dirImgs + 'bg-intro-min.png');
            background-position: center;
        }
    }
}

/* ========================================================================= */
/* block service */

.service {
    padding-bottom: 30px;
    &:after {
        content: '';
        position: absolute;
        top: 64%;
        left: 0;
        transform: translateY(-50%);
        z-index: -1;
        width: 100%;
        height: 227px;
        background: url($dirImgs + 'lines.png');
    }
    &__row {
        align-items: flex-start;
        margin-top: 48px;
    }
    &__img {
        margin-left: -74px;
    }
    &__text-advt {
        min-width: 323px;
        margin-top: 50px;
        margin-left: 38px;
    }
    &__col-media {
        margin-left: 67px;
    }
    &__media {
        align-items: center;
        margin-top: 34px;
        &-text {
            max-width: 468px;
            margin-left: 48px;
            background: $beige;
        }
    }
}

@media (max-width: 1200px) {
    .page__service {
        margin-top: 40px;
    }
    .service {
        &__img {
            width: 100%;
            margin-left: 0;
        }
    }
}
@media (max-width: 1000px) {
    .page__service {
        margin-top: 40px;
    }
    .service {
        &__row {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 28px;
        }
        &__col-img {
            position: relative;
        }
        &__img {
            position: absolute;
            top: -60px;
            left: -80px;
            max-width: 192px;
            width: auto;
            margin-left: 0;
        }
        &__title-third {
            text-align: right;
        }       
        &__text-accent {
            text-align: right;
        }
        &__text-advt {
            position: relative;
            z-index: 1;
            max-width: 227px;
            min-width: auto;
            margin-top: 43px;
            padding: 24px 20px;
        }     
        & .text-advt__quotes._top {
            left: 0;
            transform: translateY(-50%) scale(.6);
        }
        & .text-advt__quotes._bottom {
            right: 0;
            transform: translateY(50%) scale(.6);
        }
        &__col-media {
            margin-top: 30px;
            margin-left: 0;
        }
        &__media-text {
            margin-left: 19px;
            background: transparent;
        }
    }
}

@media (max-width: 337px) {
    .service {
        &:after {
            top: 38%;
            background: url($dirImgs + 'lines-min.png');
            z-index: 0;
        }
    }
}

/* ========================================================================= */
/* block getting */

.page__getting {
    margin-top: 153px;
}

.getting {
    &__row {
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    &__col_first {
        margin-right: 80px;
    }
    &__block {
        margin-bottom: 120px;
    }
    &-block {
        position: relative;
        width: 250px;
        &__numb {
            font-size: 144px;
            font-weight: 600;
            color: $white;
            -webkit-text-stroke: 1px #707070;
            -moz-text-stroke: 1px #707070;
            -o-text-stroke: 1px #707070;
            -ms-text-stroke: 1px #707070;
        }
        &__icon {
            top: 70px;
            right: 40px;
            position: absolute;
            font-size: 35px;
            &:before {
                color: $red3;
            }
        }
        &__text {
            position: absolute;
            top: 120px;
            right: -6px;
            z-index: 1;
            max-width: 168px;
            background: $white;
        }
    }
}

@media (max-width: 1600px) {
    .page__getting {
        margin-top: 40px;
    }
    .getting {
        &__img {
        }
        &__block {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 1000px) {
    .page__getting {
        margin-top: 50px;
    }
    .getting {
        &__row {
            flex-direction: column;
            margin-top: 28px;
        }
        .col {
            display: flex;
            margin-right: 0;
        }
        &-block {
            width: 117px;
            margin-right: 15px;
            margin-left: 19px;
            &__numb {
                font-size: 64px;
            }
            &__icon {
                top: 24px;
                right: 18px;
                font-size: 20px;
            }
            &__text {
                top: 55px;
            }
        }
    }
}

/* ========================================================================= */
/* block calculation */

.page__calculation {
    margin-top: 85px;
}

.calculation {
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: -1;
        max-width: 1920px;
        width: 100%;
        height: 227px;
        background: url($dirImgs + 'lines-calculation.png');
    }
    &__inner {
        padding: 86px 277px 86px 129px;
        border: 1px solid $black;
        border-radius: 30px;
        background: $white;
    }
    &__title-third {
        margin-top: 50px;
    }
    &__row {
        margin-top: 34px;
        margin-left: -15px;
    }
    &__range {
        margin-right: 15px;
        margin-left: 15px;
    }
    &-range {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 503px;
        &__input {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            width: 503px;
            max-height: 8px;
            background: linear-gradient(to right, $violet2 50%, $black3 50%);
            border-radius: 30px;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 24px;
                height: 24px;
                border: 6px solid $violet2;
                border-radius: 50%;
                background: $white;
                cursor: pointer;
            }  
            &::-moz-range-thumb {
                -moz-appearance: none;
                width: 24px;
                height: 24px;
                border: 6px solid $violet2;
                border-radius: 50%;
                background: $white;
                cursor: pointer;
            }
            &::-ms-thumb {
                -ms-appearance: none;
                width: 24px;
                height: 24px;
                border: 6px solid $violet2;
                border-radius: 50%;
                background: $white;
                cursor: pointer;
            }
        }
        &__mark {
            margin-top: 18px;
            font-size: 26px;
            line-height: 110%;
            color: $black;
        }
    }
    &__sum {
        margin-left: auto;
    }
    &-sum {
        display: flex;
        align-items: center;
        &__numb {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 74px;
            height: 79px;
            margin-right: 14px;
            font-size: 36px;
            line-height: 110%;
            color: $black;
            background: $lilac;
            border-radius: 20px;
        }
        &__valuta {
            margin-left: 8px;
            font-size: 36px;
            line-height: 110%;
            color: $black;
            font-weight: 600;
        }
    }
}

@media (max-width: 1390px) {
    .calculation {
        &__inner {
            padding-right: 129px;
        }
        &__title-third {
            text-align: center;
        }
        &__row {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__range {
            margin-top: 20px;
        }
        &__sum {
            margin-top: 20px;
            margin-left: 0;
        }
    }
}

@media (max-width: 768px) {
    .page__calculation {
        margin-top: 40px;
    }
    .calculation {
        &__inner {
            padding: 40px 16px;
        }
        &__title-third {
            margin-top: 28px;
        }
        &__row {
            margin-top: 28px;
        }
        &-range__input {
            width: 100%;
        }
        &-range__mark {
            font-size: 14px;
        }
        &-sum__numb {
            width: 53px;
            height: 56px;
            margin-right: 4px;
            font-size: 24px;
            border-radius: 12px;
        }
        &-sum__valuta {
            margin-left: 0;
            font-size: 24px;
        }
    }
}

/* ========================================================================= */
/* block analytics */

.page__analytics {
    margin-top: 58px;
}

.analytics {
    background-image: url($dirImgs + 'bg-analytics.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 70px;
    &__row {
        align-items: flex-start;
        margin-top: 50px;
    }
    &__title-third {
        width: 100%;
        margin-bottom: 32px;
    }
    &-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: -150px;
        &__item {
            width: 30%;
        }
        &__numb {
            font-weight: 600;
            font-size: 72px;
            line-height: 130%;
            color: $beige;
        }
        &__info {
            max-width: 630px;
            width: 100%;
            margin-top: 50px;
        }
    }
    &__col-img {
        flex-shrink: 0;
        margin-top: 20px;
        margin-right: -50px;
    }
    &__detail {
        margin-top: 57px;
    }
    &-detail__row {
        margin-top: 35px;
    }
    &-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 28px;
        border: 1px solid $black;
    }
    &__checks {
        margin-top: 67px;
        margin-left: 230px;
    }
    &-checks {
        &__row {
            position: relative;
            margin-top: 28px;
            align-items: center;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: -179px;
                transform: translateY(-50%);
                width: 76px;
                height: 52px;
                border-top: 1px solid $black;
                border-left: 1px solid $black;
                transform: matrix(1, 0, -2, 1, 0, 0);
            }
        }
        &__icon {
            width: 60px;
            height: 60px;
            font-size: 27px;
            &:before {
                color: $red3;
            }
        }
        &__text {
            margin-left: 68px;
        }
    } 
    &__count {
        margin-top: 85px;
    }    
    &-count {
        &__title-third {
            text-align: right;
        }
        &__row {
            margin-top: 35px;
            align-items: flex-start;
        }
        &__box {
            flex-shrink: 0;
            padding: 29px;
            padding-left: 37px;
        }
    }
    &__info {
        margin-top: 86px;
        margin-right: 108px;
    }
    &-info {
        &__row {
            position: relative;
            align-items: center;
            max-width: 362px;
            margin-bottom: 28px;
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: -109px;
                transform: translateY(-50%);
                width: 77px;
                height: 2px;
                border-top: 1px solid $black;
            }
        }
        &__icon {
            width: 60px;
            height: 60px;
            font-size: 27px;
            &:before {
                color: $red3;
            }
        }
        &__text {
            padding-right: 40px;
        }
        &__title-third {
            margin-top: 58px;
        }
         &__text-info {
            margin-top: 34px;
        }
    }
}

@media (max-width: 1700px) {
    .analytics {
        &__row {
            align-items: center;
        }
        &__block {
            margin-right: 0;
        }
        &__col-img {
            flex-shrink: 1;
            margin-right: 0;
        }
    }
}

@media (max-width: 1550px) {
    .analytics {
        &-count {
            &__title-third {
                text-align: center;
            }
            &__row {
                flex-wrap: wrap;
                flex-direction: column-reverse;
                align-items: center;
            }
            &__box {
                flex-shrink: 1;
                padding: 8px;
            }
            &__img {
                min-width: 281px;
            }
        }
        &__info {
            margin-top: 24px;
            margin-right: 0;
        }
        &-info {
            max-width: 910px;
            width: 100%;
            &__row {
                flex-direction: row-reverse;
                margin-bottom: 33px;
                &:after {
                    top: -17px;
                    right: auto;
                    left: 24px;
                    transform: rotate(90deg);
                    width: 14px;
                }
            }
            &__text {
                padding-right: 0;
                padding-left: 18px;
            }
        }
    }
}

@media (max-width: 1350px) {
    .analytics {
        &__checks {
            margin-top: 0;
            margin-left: 190px;
        }
        &-checks__row:first-child {
            margin-top: 0;
        }        
        &-checks__row:before {
            left: -138px;
            width: 64px;
        }
        &-checks__text {
            margin-left: 18px;
        }
    }
}

@media (max-width: 1150px) {
    .page__analytics {
        margin-top: 40px;
    }
    .analytics {
        &__row {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 30px;
        }
        &__col-img {
            order: -1;
        }
        &__title-third {
            margin: 28px 0;
        }    
        &-block {
            &__item {
                display: flex;
                width: 100%;
                margin-bottom: 18px;
            }
            &__numb {
                font-size: 48px;
            }
            &__text {
                margin-top: 12px;
                margin-left: 19px;
            }
            &__info {
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 1000px) {
    .analytics {
        &__detail {
            margin-top: 40px;
        }
        &-detail__title-third {
            text-align: center;
        }
        &-detail__row {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
        }
        &__checks {
            margin-top: 42px;
            margin-left: 0;
        }
        &-checks {
            display: flex;
            justify-content: space-between;
            width: 100%;
            &__row {
                flex-direction: column;
                width: 30%;
                margin-top: 0;
                &:before {
                    top: -43px;
                    left: 50%;
                    transform: none;
                    width: 1px;
                    height: 28px;
                    background: $black;
                }
            }
            &__text {
                margin-left: 0;
                text-align: center;
            }
        }
        &__count {
            margin-top: 40px;
        }
        &-info {
            &__title-third {
                margin-top: 35px;
                text-align: center;
            }
            &__text-info {
                margin-top: 28px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .analytics {
        background-size: cover;
        &-block__numb {
            color: $white;
        }
        &-checks {
            &__icon {
                width: 45px;
                height: 45px;
                font-size: 20px;
            }
       }
       &-info {
            &__row:after {
                left: 16px;
            }
            &__icon {
                width: 45px;
                height: 45px;
                font-size: 20px;
            }
       }
    }
}

@media (max-width: 337px) {
    .analytics {
        padding-bottom: 40px;
        background-image: url($dirImgs + 'bg-analytics-min.png');
        background-position: bottom center;
        background-size: contain;
    }
}

/* ========================================================================= */
/* block rates */

.page__rates {
    margin-top: 40px;
}
.rates {
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &-intro {
        max-width: 282px;
        width: 100%;
        &__dsc {
            margin-top: 28px;
            margin-bottom: 0;
            font-size: 26px;
            color: $violet3;
        }
        &__list {
            margin-top: 151px;
        }
    }
    &-list {
        width: 100%;
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;
        &__item {
            padding-bottom: 19px;
            transition: ease .3s;
        }
        &__item:not(:last-child),
        &__item.has-border {
            margin-bottom: 14px;
            border-bottom: 1px solid $beige2;
        }
        &__text {
            display: none;
        }
    }
    &-package {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 359px;
        width: 100%;
        padding: 50px 39px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 10px 0px 70px rgba(0, 0, 0, 0.07);
        transition: ease .3s;
        &:hover {
            background: $lilac;
            .rates-list__item:not(:last-child) {
                border-bottom: 1px solid $beige3;
            }
            .rates-package__btn {
                background: $blue2;
            }
        }
        &__title {
            color: rgba(174, 47, 110, 0.9);
        }
        &__dsc {
            max-width: 196px;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 0;
            text-align: center;
            font-size: 26px;
            line-height: 120%;
            color: $black;
        }        
        &__value {
            margin-top: 25px;
            margin-bottom: 27px;
            font-size: 28px;
            line-height: 36px;
            color: $lilac2;
            font-weight: 600;
        }
        &__btn {
            min-width: 180px;
            margin-top: 11px;
        }
    }
}

@media (max-width: 1250px) {
    .rates {
        &__container {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__package {
            margin-top: 28px;
        }
        &-package {
            max-width: 50%;
        }
        &-intro {
            max-width: 100%;
            &__dsc {
                text-align: center;
            }
            &__list {
                display: none;
            }
        }
        &-list {
            &__icon {
                display: none;
            }
            &__text {
                display: block;
            }
        }
    }
}

@media (max-width: 1000px) {
   .rates {
        &-intro {
            &__dsc {
                margin-top: 14px;
                font-size: 14px;
            }
        }
        &-package {
            padding: 40px 30px;
            &__dsc {
                margin-top: 14px;
                font-size: 14px;
            }
            &__value {
                margin-top: 8px;
                margin-bottom: 40px;
                font-size: 24px;
            }
        }
   }
}

@media (max-width: 600px) {
   .rates {
        &-package {
            max-width: 100%;
            &.hover-effect {
                background: $lilac;
                & .rates-list__item {
                    border-bottom: 1px solid $beige3;
                }
                & .rates-package__btn {
                    background: $blue2;
                }
            }
        }
   }
}

/* ========================================================================= */
/* block start */

.page__start {
    margin-top: 85px;
}

.start {
    &:after {
        content: '';
        position: absolute;
        top: 305px;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 1650px;
        background: url($dirImgs + 'bg-start.png');
        background-repeat: no-repeat;
    }
    &__container {
        position: relative;
        display: flex;
    }
    &__col_left {
        position: relative;
    }
    &__title-second {
        max-width: 555px;
        text-align: left;
    }
    &__text {
        max-width: 508px;
        margin-top: 34px;
    }    
    &__dsc {
        margin-top: 24px;
        color: $red2;
    }
    &__carousel {
        z-index: 1;
        margin-top: 34px;
    }
    &-carousel {
        max-width: 754px;
        width: 100%;
        &__slide {
            background: $white;
            cursor: grab;
        }
        &__title {
            margin-bottom: 34px;
            font-size: 26px;
            line-height: 120%;
            color: $violet;
        }
        &__btn {
            position: absolute;
            right: -90px;
            z-index: 1;
            width: 41px;
            height: 28px;
            background: $white2;
            border: 1px solid $black;
            &._prev {
                bottom: 70px;
            } 
            &._next {
                bottom: 190px;
            }
        }
    }
    &__info {
        position: absolute;
        right: -280px;
        bottom: 0;
    }
    &-info {
        &__row:not(:last-child) {
            margin-bottom: 70px;
        }
        &__template {
            font-size: 26px;
            line-height: 120%;
            color: $black;
        }
        &__subject {
            color: $red2;
        }
    }
    &__col_right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
    }
    &__img {
        position: absolute;
        top: 0;
        right: 18px;
        &_mob {
            display: none;
        }
    }
    &__btn {
        margin-right: 103px;
    }
}

@media (max-width: 1815px) {
    .start {
        &__img {
            right: 0;
        }
        &__btn {
            margin-right: 0;
        }
    }
}

@media (max-width: 1400px) {
    .start {
        &__container {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__col_left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }        
        &__col_right {
            align-items: center;
            max-width: 754px;
            width: 100%;
            margin-top: 28px;
        }
        &__title-second {
            max-width: 100%;
            text-align: center;
        }
        &__img {
            display: none;
            &_mob {
                display: block;
                max-width: 956px;
                margin-top: 10px;
            }
        }
        &__text,      
        &__dsc {
            max-width: 754px;
            width: 100%;
        }
        &__carousel {
            margin-top: 40px;
        }
        &-carousel {
            &__slide {
                background: transparent;
            }
            &__title {
                margin-bottom: 28px;
                margin-left: 20px;
            }
            &__img {
                width: 100%;
            }
            &__btn._prev {
                bottom: -110px;
                left: 0;
            }            
            &__btn._next {
                bottom: -110px;
                right: 0;
            }
        }
        &__info {
            position: static;
            margin-top: 6px;
        }
        &-info {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 754px;
            width: 100%;
            &__row {
                display: flex;
                flex-direction: column-reverse;
                margin-bottom: 70px;
            }            
            &__row:not(:last-child) {
                text-align: right;
            }
        }
    }
}

@media (max-width: 600px) {
    .page__start {
        margin-top: 40px;
    }
    .start {
        &-carousel {
            &__title {
                font-size: 16px;
            }
        }
        &-info {
            &__template {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 337px) {
    .start {
        &:after {
            top: 137px;
            background: url($dirImgs + 'bg-start-min.png');
        }
    }
}

/* ========================================================================= */
/* block integration */

.page__integration {
    margin-top: 85px;
}

.integration {
    &__title-third {
        margin-top: 50px;
        text-align: center;
    }
    &__row {
        justify-content: space-between;
        margin-top: 47px;
    }
    &__col {
        width: 43%;
    }
    &__tool {
        margin-bottom: 73px;
    }
    &-tool {
        position: relative;
        display: block;
        width: 130px;
        height: 130px;
        &:before {
            position: absolute;
            top: 5px;
            left: -5px;
            font-size: 41px;
            color: $red3;
        }
        &__img {
            position: absolute;
            left: 33px;
            &._bitrix {
                top: -17px;
            }
            &._amocrm {
                top: 28px;
            }
        }
        &__text {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 1000px) {
    .page__integration {
        margin-top: 40px;
    }
}

@media (max-width: 720px) {
    .integration {
        &__title-third {
            margin-top: 28px;
        }
        &__row {
            flex-wrap: wrap;
            margin-top: 28px;
        }
        &__col {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        &__tool {
            margin-bottom: 28px;
            margin-left: -100px;
        }
        &-tool {
            width: 93px;
            height: 93px;        
            &:before {
                font-size: 28px;
            }
            &__img {
                width: 100%;
                min-width: 160px;
            }            
            &__img._bitrix {
                top: 10px;
            } 
            &__img._amocrm {
                top: 20px;
            }
        }
    }
}

/* ========================================================================= */
/* block request */

.page__request {
    margin-top: 90px;
}

.request {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: -1;
        max-width: 1920px;
        width: 100%;
        height: 228px;
        background: url(imgs/lines-request.png);
    }
    &__inner {
        justify-content: space-between;
        height: 407px;
        padding: 87px 82px 86px 63px;
        background: $lilac;
        border-radius: 50px;
    }
    &__col-img {
        margin-right: 10px;
    }
    &__img {
        margin-top: -120px;
    }
    &__img_mob {
        display: none;
    }
    &__col-content {
        max-width: 648px;
        width: 100%;
    }
    &__title-third {
        color: $red2;
    }
    &-form {
        &__row {
            justify-content: space-between;
            margin-top: 28px;
        }
        &__input:first-child {
            margin-right: 26px;
        }
        &__input-checkbox {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }            
        &__input-checkbox:checked ~ &__label:before {
            content: '\2713';
        }
        &__label {
            position: relative;
            display: flex;
            max-width: 233px;
            width: 100%;
            margin-right: 10px;
            margin-bottom: 0;
            padding-left: 28px;
            font-size: 12px;
            line-height: 130%;
            color: $black;
            cursor: pointer;
            user-select: none;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15px;
                height: 15px;
                font-weight: 600;
                background: $white;
                border: 1px solid $beige5;
            }
        }
        &__btn-accent {
            padding: 22.5px 83px 19.5px 52px;
        }
    }
}

@media (max-width: 1400px) {
    .page__request {
        margin-top: 10px;
    }
    .request {
        &__inner {
            align-items: center;
            padding: 40px 30px;
        }
        &__img {
            width: 100%;
            margin-top: 0;
        }
    }
}

@media (max-width: 1000px) {
    .request {
        &__inner {
            justify-content: center;
            height: 100%;
        }
        &__col-img {
            display: none;
        }
        &__title-third {
            text-align: center;
        }
        &__text {
            margin-top: 28px;
            text-align: center;
        }
        &__img_mob {
            display: block;
            width: 100%;
        }
        &-form {
            &__row {
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 11px;
                &:first-child {
                    margin-top: 15px;
                }
            }
            &__input {
                max-width: 500px;
                &:first-child {
                    margin-right: 0;
                    margin-bottom: 14px;
                }
            }
            &__label {
                max-width: 500px;
                margin-bottom: 28px;
                margin-right: 0;
            }
        }
    }
}

/* ========================================================================= */
/* block footer */

.page__footer {
    margin-top: 179px;
    margin-bottom: 30px;
}

.footer {
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__service {
        width: 100%;
        margin-bottom: 9px;
        color: $black4;
    }    
    &__politics {
        color: $black4;
    }
    &__made {
        color: $black5;
    }
    &__icon {
        position: relative;
        display: inline-block;
        width: 26px;
    } 
    &__icon:before {
        position: absolute;
        top: -17px;
        font-size: 26px;
        color: $red4;
    }
}

@media (max-width: 1200px) {
    .page__footer {
        margin-top: 40px;
        margin-bottom: 39px;
    }
}

@media (max-width: 400px) {
    .footer {
        &__politics {
            width: 100%;
            margin-bottom: 9px;
        }
    }
}