
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container  {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px 60px;
  font-family: 'Courier New', Courier, monospace;
}

img {
  max-width: 100%;
}

.items-section  {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px 60px;
}

.items-list {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 1fr;
  gap: 6px;
  padding: 20px 0;
}

li {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  border: 1px solid lightblue;
}

.button-more {
  display: block;
  margin: auto;
  padding: 12px 20px;
  border: 1px solid lightgray;
  background: lightgrey;
  cursor: pointer;
}

@keyframes showEasy {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-item {
  transform: translateY(30px);
  opacity: 0;
  animation: showEasy .6s forwards;
}

.items-list li:nth-child(4n + 1) {
  animation-delay: .4s;
}


.items-list li:nth-child(4n + 2) {
  animation-delay: .6s;
}


.items-list li:nth-child(4n + 3) {
  animation-delay: .8s;
}

.items-list li:nth-child(4n + 4) {
  animation-delay: 1s;
}