*, :after, :before {
    box-sizing: border-box;
}
a, b, blockquote, body, canvas, caption, code, dd, div, dl, dt, em, embed, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, label, li, main, nav, object, ol, p, pre, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}
footer, header, main, nav, section {
    display: block;
}
body {
    line-height: 1;
}
a {
    color: inherit;
    text-decoration: none;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:after, blockquote:before, q:after, q:before {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
    border-radius: 0;
    border: 0;
    outline: 0;
}
input, input:hover {
    -webkit-appearance: none;
    appearance: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
:root {
    --main-color-1: #131316;
    --main-color-2: #1e4887;
    --main-color-3: #fff;
    --main-color-4: #1FA0B2;
    --main-color-5: #96a1ab;
    --main-color-6: #576170;
    --main-color-7: #dee3e6;
    --border-color-1: #dee3e6;
    --indent-container: 20px;
    --width-container: 570px;
    --transition: .2s;
}
@media (min-width:765px) {
    :root {
    --width-container: 760px;
}
}@media (min-width:980px) {
    :root {
    --width-container: 980px;
}
}@media (min-width:1200px) {
    :root {
    font-size: 18px;
    --width-container: 1240px;
}
}@font-face {
    font-family: "Segoe UI";
    src: url("fonts/Segoe UI.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Segoe UI";
    src: url("fonts/Segoe UI Bold.ttf") format("truetype");
    font-weight: 700;
}
body, html {
    height: 100%;
    overflow: auto;
    scrollbar-color: var(--main-color-4) transparent;
    scrollbar-width: thin;
}
body::-webkit-scrollbar-track, html::-webkit-scrollbar-track {
    background-color: #000;
}
body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--main-color-4);
}
body::-webkit-scrollbar, html::-webkit-scrollbar {
    width: 6px;
}
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Segoe UI", arial;
    font-weight: 400;
    font-size: .75rem;
    line-height: 1rem;
    color: var(--main-color-1);
}
.main {
    flex: 1 0 auto;
}
.container {
    max-width: var(--width-container);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--indent-container);
    padding-left: var(--indent-container);
}
.button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: .78rem .6rem;
    color: #fff;
    letter-spacing: .06em;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    background: 0 0;
    transition: .2s;
}
@media (min-width:1200px) {
    .button {
    padding: .667rem .6rem;
}
}.button_accent {
    background: var(--main-color-4);
}
img {
    max-width: 100%}
.burger {
    position: relative;
    width: 24px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    background: 0;
    border: 0;
}
.burger__line, .burger__line:after, .burger__line:before {
    position: absolute;
    left: 0;
    width: 100%;
    background: var(--main-color-2);
    transition: ease .3s;
}
.burger__line {
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
}
.burger__line:after, .burger__line:before {
    content: "";
    height: inherit;
}
.burger__line:before {
    top: -7px;
}
.burger__line:after {
    bottom: -7px;
}
.icon {
    width: 16px;
    height: 16px;
    fill: var(--main-color-2);
    transition: var(--transition);
}
.icon_gray {
    fill: var(--main-color-6);
}
.icon_min {
    width: 10px;
    height: 10px;
}
.icon_accent {
    fill: var(--main-color-4);
}
.item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    color: var(--main-color-2);
}
.item_gray {
    color: var(--main-color-6);
}
.item_light {
    color: var(--main-color-3);
}
.nav__box-event, .nav__button, .nav__close, .nav__contacts, .nav__info {
    display: none;
}
@media (min-width:765px) {
    .nav {
    background: rgba(58, 49, 123, .51);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}
.nav__container {
    display: flex;
    justify-content: space-between;
}
.nav__box-event {
    display: flex;
}
}.menu__list {
    display: flex;
}
@media (min-width:765px) {
    .menu__item {
    position: relative;
    transition: background var(--transition);
}
.menu__item:hover {
    background: var(--main-color-3);
}
.menu__item:hover .menu__link {
    color: var(--main-color-2);
}
.box-event:hover .box-event__menu-sub, .menu__item:hover .menu__sub {
    visibility: visible;
    opacity: 1;
}
.menu__link {
    display: flex;
    padding: .75rem 1rem;
    font-weight: 700;
    font-size: .75rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: var(--main-color-3);
}
.menu-sub {
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    margin-top: -1px;
    visibility: hidden;
    opacity: 0;
    border: 1px solid var(--border-color-1);
    border-top: 2px solid var(--main-color-4);
    background: var(--main-color-3);
    transition: var(--transition);
}
.menu-sub__item {
    border-bottom: 1px solid var(--border-color-1);
}
.menu-sub__item:last-child {
    border: 0;
}
.menu-sub__link {
    display: flex;
    gap: .5rem;
    padding: .86rem 1rem;
    font-size: .9rem;
    color: var(--main-color-1);
}
.menu-sub__icon {
    width: 20px;
    height: 20px;
    fill: var(--main-color-4);
}
.box-event {
    position: relative;
}
.box-event__menu-sub {
    right: 0;
    left: auto;
}
.box-event__button {
    padding: 0;
}
}.intro {
    padding: 6rem 0 2rem;
    background: url(img/bg-main.jpg) rgba(0, 0, 0, .4) center/cover no-repeat;
}
@media (min-width:765px) {
    .intro {
    padding-top: 8rem;
}
}@media (min-width:980px) {
    .intro {
    padding-top: 8rem;
}
}@media (min-width:1200px) {
    .intro {
    padding: 12rem 0 10rem;
}
}.dropdown__items {
    display: none;
}
.dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .75rem 1rem;
    font-size: 1rem;
    color: var(--main-color-5);
    cursor: pointer;
}
.dropdown-btn__icon {
    width: 11px;
    height: 8px;
    fill: var(--main-color-5);
}
.form {
    display: grid;
    gap: .725rem;
    padding: 1.5rem;
    background: var(--main-color-3);
}
.form-box {
    display: grid;
    gap: 6px;
}
.form-title {
    font-weight: 700;
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--main-color-5);
}
.form-field {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 40px;
    border: 1px solid var(--border-color-1);
    background: var(--main-color-3);
    border-radius: .25rem;
    width: 100%;
    transition: border-color .5s ease, background-color .25s ease;
}
.form-field_grid {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    gap: 6px;
    padding: 0 1rem;
}
.form-input {
    width: 100%;
    padding: .25rem 0;
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--main-color-6);
    border-bottom: 1px solid var(--border-color-1);
    border-radius: 0;
    transition: var(--transition);
}
.form-input:focus {
    border-color: var(--main-color-4);
}
.form-input_padding {
    padding-left: 1rem;
    border-radius: .25rem;
}
@media (min-width:765px) {
    .form {
    grid-template-columns: 1fr 1fr;
    align-items: end;
}
.form__btn {
    width: 160px;
}
}@media (min-width:980px) {
    .form {
    display: flex;
    flex-wrap: wrap;
}
.form__ad, .form__who {
    width: calc(25% - .5625rem);
    min-width: calc(25% - .5625rem);
}
.form__city, .form__price, .form__type {
    width: calc(50% - .5rem);
    min-width: calc(50% - .5rem);
}
.form__search {
    flex-grow: 1;
    width: calc(50% - .375rem);
    min-width: calc(50% - .375rem);
}
}.slider {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
}
.slider:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    background: var(--border-color-1);
}
.slider-handle {
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--main-color-6);
    cursor: pointer;
}
.slider:before, .slider__line {
    width: 100%;
    height: 8px;
    border-radius: 6px;
}
.slider__line {
    margin: 0 -10px;
    background: var(--main-color-4);
}
.section {
    padding: 1.5rem 0;
}
.section__cards {
    display: grid;
    gap: 1rem;
}
.section__aside {
    display: none;
}
@media (min-width:980px) {
    .section__row {
    display: grid;
    grid-template-columns: 1fr 240px;
    gap: 2.5rem;
}
.section__aside {
    display: block;
}
}.aside__inner {
    position: sticky;
    top: 5.5rem;
}
.aside__banners, .aside__inner {
    display: grid;
    gap: 1rem;
}
.aside__promo {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    background: #fff;
    border: 1px solid #dee3e6;
    border-radius: 4px;
}
.aside__promo-title {
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.125rem;
    text-transform: uppercase;
    color: #3d4554;
    margin-bottom: 1.5rem;
}
.aside__promo-inner {
    position: relative;
    display: flex;
    gap: .5rem;
    margin-bottom: 1.5rem;
}
.aside__promo-inner li:before {
    content: ">";
    display: inline-block;
    margin-top: -.4rem;
    vertical-align: middle;
    color: var(--main-color-4);
    margin-right: .5rem;
    font-weight: 900;
    font-size: .625rem;
}
.aside__promo-more {
    margin-left: auto;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.125rem;
    color: var(--main-color-4);
    text-decoration: underline;
}
.aside__promo-link {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #576170;
    text-decoration: none;
}
.cards-item, .cards-item__picture {
    position: relative;
    display: flex;
    border-radius: 4px;
}
.cards-item {
    flex-direction: column;
    gap: 1.5rem;
    border: 1px solid #dee3e6;
    padding: 1rem;
    overflow: hidden;
}
.cards-item__picture {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 134px;
    height: 134px;
    background: #f5f7f7;
}
.cards-item__picture img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.cards-item__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 12px;
}
.cards-item__top {
    position: relative;
    display: flex;
    gap: .75rem;
}
.cards-item__title {
    display: block;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    min-height: 3rem;
    color: #333;
}
.cards-item__date {
    display: none;
    font-size: .75rem;
    line-height: 1rem;
    color: var(--main-color-5);
    white-space: nowrap;
}
.cards-item__date.m--mobile {
    display: block;
}
.cards-item__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: .5rem;
}
.cards-item__info-owner {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.cards-item__info-geo {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: .25rem;
    min-width: 280px;
    color: #96a1ab;
}
.cards-item__prices {
    display: flex;
    gap: 1.5rem;
    margin-top: auto;
}
.cards-item__price-tariff {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #576170;
}
.cards-item__price-tariff.--m-light {
    color: var(--main-color-5);
}
.cards-item__price-unit {
    font-size: .75rem;
    line-height: 1rem;
    color: #576170;
}
.cards-item__buttons {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
}
.cards-item__button {
    font-size: 0;
    border: 0;
    border-radius: 0;
    padding-left: .5rem;
    background: var(--main-color-7);
    color: var(--main-color-6);
}
.cards-item__button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -16px;
    border-top: 40px solid transparent;
    border-left: 0 solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 0 solid transparent;
    border-right-color: var(--main-color-7);
    transition: all .5s ease;
}
.cards-item__button:hover {
    padding-right: 1rem;
    font-size: .75rem;
}
@media (min-width:765px) {
    .cards-item {
    flex-direction: row;
}
.cards-item__picture {
    width: 134px;
}
.cards-item__date {
    display: block;
}
.cards-item__date.m--mobile {
    display: none;
}
.cards-item__info-owner {
    flex-direction: row;
    gap: 20px;
}
}@media (min-width:1200px) {
    .cards-item__title {
    transition: var(--transition);
}
.cards-item__title:hover {
    color: var(--main-color-4);
}
}.banners-item, .banners-item img {
    position: relative;
    border-radius: 4px;
}
.banners-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.125rem;
    text-transform: uppercase;
}
.banners-item img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: auto;
    -o-object-fit: contain;
    object-fit: contain;
}
.footer, .footer__top {
    position: relative;
}
.footer__top {
    background: rgba(52, 59, 72, .85) url(img/bg-main.jpg) center/cover no-repeat;
    background-size: cover;
}
.footer__top:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(52, 59, 72, .85);
}
.footer__top-inner {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    justify-content: space-between;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.footer__top-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color-3);
    width: 100%}
.footer__top-block-title.footer__top-block-title {
    display: block;
    text-decoration: none;
}
.footer__top-contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.footer__top-content {
    text-align: center;
    max-width: 360px;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.4rem;
}
.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.footer__menu_mob {
    display: none;
}
.footer__menu-link.footer__menu-link.m--title, .footer__top-block-title.footer__top-block-title {
    color: var(--main-color-3);
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.125rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
@media (min-width:765px) {
    .footer__top-inner {
    display: grid;
    grid-template-areas: "D D D" "A B C"}
.footer__top-block {
    align-items: flex-start;
    width: 100%}
.footer__top-block.m--contacts {
    grid-area: A;
    min-width: 242px;
    width: 280px;
}
.footer__top-block.m--offers {
    grid-area: B;
}
.footer__top-block.m--requests {
    grid-area: C;
}
.footer__top-block.m--navigate {
    grid-area: D;
}
.footer__top-content {
    text-align: left;
}
.footer__top-contacts {
    justify-content: flex-start;
    gap: 1.6rem;
}
.footer__menu.m--menu {
    flex-direction: row;
}
.footer__menu_mob {
    display: grid;
    gap: 4px;
    margin-top: .5rem;
}
.footer__menu-link.footer__menu-link {
    font-size: .875rem;
    line-height: 1.25rem;
    color: #dee3e6;
    text-decoration: none;
}
.footer__menu-link.m--more {
    margin-top: .75rem;
    color: var(--main-color-4);
    font-weight: 700;
    font-size: .75rem;
    line-height: 1rem;
}
.footer__top-inner {
    display: flex;
    flex-direction: row;
}
.footer .footer__menu.m--menu {
    flex-direction: column;
    align-items: flex-start;
}
}

.header {
    position: fixed;
    z-index: 10;
    width: 100%}
.header__pad {
    background: var(--main-color-3);
}
.header__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    padding: .4rem 0;
}
.header__logo {
    width: 140px;
}
.header__links, .header__nav {
    display: none;
}
@media (min-width:765px) {
    .header__row {
    justify-content: space-between;
}
.header__burger, .header__lk {
    display: none;
}
.header__links {
    display: flex;
    gap: 12px;
}
.header__nav {
    display: block;
}
}