@media screen and (max-width: 1117px) {
    .categories .prev {
        left: 3px;
    }
    .categories .next {
        right: 3px;
    }
    .categories .bl-fl1 {
        justify-content: center;
    }
    .categories .bl-fl2 {
        max-width: 304px;
    }
    .categories h2 {
        width: 151px;
        text-align: center;
    }
    .categories .bl-fl3 {
        margin: 0 auto;
    }
    .categories .block-wrapper {
        align-items: center;
    }
}
@media screen and (max-width: 1038px) {
    .block-top .logo {
        padding-left: 0;
    }
    .block-top .block-wrapper {
        width: 191px;
        justify-content: space-between;
    }
    .container-nav nav ul {
        position: absolute;
        width: 100%;
        list-style:none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 auto;
        padding: 15px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        background: rgba(46,46,46,.7);
        top: -390px;
        left: 0;
        -webkit-transition: top 1s;
        -o-transition: top 1s;
        transition: top 1s;
        display: block;
    }
    .block-top .btn-menu {
        display: block;
        border-radius: 3px;
        padding: 10px;
        cursor: pointer;
        width: 42px;
        background: #4ccfc1;
        margin-right: 5px;
    }
    .btn-menu span {
        display: block;
        height: 2px;
        background: white;
        margin: 4px 0 0;
        position: relative;
        border-radius: 5px;
    }
    .btn-menu span.first {
        margin-top: 0;
    }
    .container-nav ul li {
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    .nav ul li a {
        list-style: none;
        display: block;
        margin: 0;
        color: white;
        padding: 10px;
        text-decoration: none;
        font-size: 16px;
        text-transform: uppercase;
        padding: 3px 17px;
        margin-bottom: 2px;
    }
    .active {
        border-radius: 60px!important;
    }
    .nav ul .li-line {
        display: none;
    }
}
@media screen and (max-width: 872px) {
    .banner .banner__img1 {
        padding-left: 0;
    }
}
@media screen and (max-width: 822px) {
    .block-top .search {
        margin: 0 15px;
    }
    .bascket__img {
        padding: 0 15px;
    }
}
@media screen and (max-width: 787px) {
    .categories .prev {
        left: 2%;
    }
    .categories .next {
        right: 2%;
    }
}
@media screen and (max-width: 767px) {
    .footer .block-flex {
        text-align: center; 
    }
    .footer .block-flex h2 {
        padding-top: 17px;
        margin-bottom: 19px;
    }
}
@media screen and (max-width: 719px) {
    .banner .banner__text1 {.categories .next {
        right: 2%;
    }
        margin-left: 15px;
    }
    .banner .banner__text1 p {
        padding-bottom: 0;
    }
    .banner .banner__text1 h2 {
        font-size: 38px;
    }
}
@media screen and (max-width: 575px) {
    .banner .block-flex, .block-top .block-flex {
        flex-direction: column;
    }
    .banner .banner__img1 {
        padding-top: 100px;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
    }
    .banner .banner__text1 {
        max-width: 100%;
        margin-left: 0;
        padding-bottom: 95px;
    }
    .banner .banner__text1 h2 {
        padding-top: 15px;
        text-align: center;
    }
    .banner .banner__text1 p {
        text-align: center;
    }
    .banner .banner__text1 .banner__btn {
        margin: 0 auto;
    }
}
@media screen and (max-width: 427px) {
    .categories .block-flex {
        height: 100%; 
        flex-direction: column;
        align-items: center;
    }
    .categories h2 {
        width: 100%;
    }
    .categories .block-wrapper {
         align-items: center; 
    }
}
@media screen and (max-width: 389px) {
    .modal-window {
        display: none;
    }
}