@media screen and (max-width: 664px) {
	.flex-sect2 {
		flex-direction: column;
	}
	.img-foto {
		width: 100%;
		text-align: center;
	}
	.left-side {
		max-width: 1200px;
	}
	.bg-right {
		width: 100%;
	}
	.right-side {
		margin-right: 0;
		max-width: 1200px;
	}
}
@media screen and (max-width: 780px) {
	.text-about-me {
		padding-top: 80px; 
	}
	.header-bottom {
		flex-direction: column;
		padding-top: 50px; 
	}
	.email {
		padding-top: 22px;
	}
	.div {
		padding-top: 40px;
		padding-bottom: 25px;
	}
}
@media screen and (max-width: 400px) {
	.div-call {
		text-align: center;
		padding-top: 50px;
	}
}