.background-img {
	background-image: url(img/гаджет.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.background {
	background: #2F2F2F;
	width: 100%;
	opacity: 0.7;
}
.cont {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
.flex-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-header div {
	max-width: 300px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.container-nav ul {
	padding-left: 0;
}
.container-nav a {
	color: white;
	font-size: 16px;
	transition-duration: 1.2s;
}
.container-nav a:hover {
	border-bottom: 3px solid white;
	text-decoration: none;
}
.container-nav li {
	list-style-type: none;
	display: inline-block;
	padding-right: 25px;
}

.div-logo img {
	height: 100px;
	width: 100px;
}
.flex-header .name-site-div {
	justify-content: flex-end;
}
.name-site-p {
	color: white;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 0;
}
.text-about-me {
	padding-top: 200px;
	text-align: center;
}
.text-about-me p { 
	color: white;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 0;
}
.button {
	text-align: center;
	padding-top: 60px;
}
.button button {
	width: 220px;
	height: 60px;
}
.button button span {
	font-weight: bold;
	font-size: 18px;
}
@keyframes angleTransform{
	0%  { bottom: 20px; }
  100% { bottom: 30px; }
}
.div {
	display: flex;
}
.div-angle {
	animation: angleTransform 0.9s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both;
	position: relative;
	left: 50%;
	margin-left: -10px;
	padding-top: 180px;
}
.angle {
	border: 3px solid white;
	height: 20px;
	width: 20px;
	border-left: none;
	border-top: none;
	transform: rotate(45deg);
}