/* ========================================================================= */
/* variables */

$dirFontsRoboto: 'fonts/roboto/' !default;
$dirFontsIcomoon: 'fonts/icomoon/' !default;
$dirImgs: 'imgs/' !default;

$black: #000;

$blue1: #1F3F68 !default;
$blue2: #316099 !default;
$blue3: #356EAD !default;
$blue4: #5A98D0 !default;

$red: #EB5757;

$white: #fff;

/* ========================================================================= */
/* bootstrap */

@import "~bootstrap/scss/bootstrap-reboot";


/* ========================================================================= */
/* fonts */

@font-face {
    font-family: 'Roboto';
    src:
    	url($dirFontsRoboto + 'Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src:
    	url($dirFontsRoboto + 'Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src:
    	url($dirFontsRoboto + 'Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src:  url($dirFontsIcomoon + '/icomoon.eot?563exd');
  src:  url($dirFontsIcomoon + '/icomoon.eot?563exd#iefix') format('embedded-opentype'),
    url($dirFontsIcomoon + '/icomoon.ttf?563exd') format('truetype'),
    url($dirFontsIcomoon + '/icomoon.woff?563exd') format('woff'),
    url($dirFontsIcomoon + '/icomoon.svg?563exd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vector:before {
  content: "\e900";
  color: #5a98d0;
}

/* ========================================================================= */
/* mixins */

@mixin transition {
	transition: all .15s;
}

/* ========================================================================= */
/* common */

html {
	font-size: 10px;
}
@media (max-width: 768px) {
	html {
		font-size: 8px;
	}
}

.page {
	font-size: 1.6rem;
	letter-spacing: 0.05em;
}
.container {
	max-width: 970px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.row {
	display: flex;
}
.btn {
	outline: none;
	border: none;
	@include transition;
	&:hover {
		text-decoration: none;
	}
	&-primary {
		display: inline-block;
		padding: 1.5rem 4.8rem;
		line-height: 2.6rem;
		text-align: center;
		color: $white;
		background: $blue4;
		border-radius: 1rem;
		box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	}
	&-more {
		display: inline-block;
		padding: .6rem 0;
		color: $blue4;
		font-size: 14px;
		line-height: 30px;
	}
	&-more__icon {
		margin-left: 2.8rem;
	}
	&-link {
		color: $white;
	}
	&-link:hover {
		text-decoration: underline;
		color: $white;
	}
}
.title {
	margin-bottom: 0;
	&-second {
		font-size: 3.6rem;
		font-weight: 400;
		line-height: 4.6rem;
		color: $blue2;
	}
}
.text {
	margin-bottom: 0;
	line-height: 2.6rem;
	opacity: .6;
	color: $blue1;
}
.img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

/* ======================================================================================================= */
/* page-home */

/* ======================================================== */
/* block header */

.home-header {
	max-width: 1230px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 4rem;
	&__row {
		justify-content: space-between;
	}
}
.bg-logo_blue {
    width: 48px; height: 32px;
    background: url($dirImgs + 'css_sprites.png') -10px -10px;
}
.btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
	&__line {
	    position: relative;
	    display: block;
	    width: 24px;
	    height: 2px;
	    background: $blue3;
	    transition: ease .8s;
	    border-radius: 6px;
	}
	&__line:before,
	&__line:after {
	    content: '';
	    position: absolute;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: $blue3;
	    border-radius: 6px;
	}
	&__line:before {
	    top: -6px; 
	}
	&__line:after {
	    bottom: -6px; 
	}
}

/* ======================================================== */
/* block intro */

.home-intro {
	position: relative;
	padding-bottom: 19rem;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
		opacity: 0.2;
	}
	&__container {
		position: relative;
	}
	&__container:after {
		content: url($dirImgs + 'illustration.png');
		position: absolute;
		top: -97px;
		right: -185px;
	}
	&__content {
		max-width: 57rem;
		margin-top: 11rem;
	}
	&__text {
		margin-top: 3.2rem;
		padding-right: 15.2rem;
	}
	&__btn-primary {
		margin-top: 7.1rem;
	}
}
.title-main {
	font-size: 6.4rem;
	line-height: 7.4rem;
	color: $blue1;
	font-weight: 500;
}
@media (max-width: 1356px) {
	.home-intro__container:after {
		right: -144px;
	}
}
@media (max-width: 1275px) {
	.home-intro {
		padding-bottom: 10rem;
		text-align: center;
		&__text {
			padding-right: 0;
		}
		&__content {
			max-width: 100%;
			margin-top: 2rem;
		}
		&__container:after {
			display: none;
		}
		&__btn-primary {
			margin-top: 2rem;
		}
	}
}

/* ======================================================== */
/* block dsc */

.home-dsc {
	padding-top: 19.2rem;
	padding-bottom: 21.2rem;
	&__col {
		width: 50%;
	}	
	&__col._first {
		margin-right: 15px;
	}
	.title-second {
		max-width: 35.8rem;
		margin-bottom: 25rem;
	}
}
.home-card {
	max-width: 38rem;
	width: 100%;
	padding: 4.8rem;
	background: $white;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	&__title {
		margin-top: 5.6rem;
		font-size: 2rem;
		letter-spacing: .05em;
		color: $blue1;
		line-height: 3rem;
	}
	&__text {
		margin-top: 1.6rem;
	}
	&__btn {
		margin-top: 3.2rem;
	}
	&_tech {
		margin-bottom: 10rem;
		padding-top: 0;
	}
}
@media (max-width: 768px) {
	.home-dsc {
		padding: 5rem 0;
	}
}
@media (max-width: 660px) {
	.home-dsc {
		.row {
			flex-wrap: wrap;
		}
		&__col {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}		
		&__col._first {
			margin-right: 0;
		}
		.title-second {
			max-width: 100%;
			margin-bottom: 2.5rem;
			text-align: center;
		}
		.home-card {
			margin-bottom: 2rem;
		}
	}
}

/* ======================================================== */
/* block logos */

.home-client {
	padding-top: 9.6rem;
	padding-bottom: 12.5rem;
	background: $blue4;
	border-radius: 200px 0px 0px 0px;
	.title-second {
		max-width: 225px;
		width: 100%;
		color: $white;
	}
	&__text {
		max-width: 540px;
		width: 100%;
		margin-left: 10rem;
		color: $white;
	}
	&__logos {
		margin-top: 12.3rem;
	}
}
.home-logos {
	flex-wrap: wrap;
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 23.5rem;
		width: 100%;
		min-height: 12.8rem;
		font-size: 2rem;
		line-height: 4.6rem;
		color: $white;
		letter-spacing: 0.02em;
		border: 1px solid $white;
		border-top: none;
		border-left: none;
	}
	&__item.btn {
		background: hsla(213, 70, 50, .2);
	}
}
.bb-n {
	border-bottom: none;
}
.br-n {
	border-right: none;
}
@media (max-width: 1060px) {
	.home-client {
		.title-second {
			max-width: 100%;
			padding-left: 2rem;
		}
		&__text {
			margin-left: 3rem;
		}
	}
	.home-logos {
		&__item {
			max-width: 50%;
			border: none;
		}
	}
}
@media (max-width: 768px) {
	.home-client {
		padding: 3rem 0;
		text-align: center;
		border-radius: 0;
		&__row {
			flex-wrap: wrap;
		}
		.title-second {
			padding-left: 0;
		}
		&__text {
			max-width: 100%;
			margin-left: 0;
		}
		&__logos {
			margin-top: 1rem;
		}
	}
	.home-logos {
		&__item {
			max-width: 50%;
			border: none;
		}
	}
}

/* ======================================================== */
/* block logos */

.home-discuss {
	position: relative;
	padding-top: 9.2rem;
	padding-bottom: 9.6rem;
	background: $blue2;
	border-radius: 0px 200px 0px 0px;
	border-bottom: 1px solid $white;
	&:before {
		content: '';
		position: absolute;
		top: -1px;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		background: $blue4;
	}
	&__row {
		align-items: center;
		justify-content: space-between;
	}
	.title-second {
		max-width: 32rem;
		width: 100%;
		color: $white;
	}
	&__text {
		max-width: 46rem;
		width: 100%;
		margin-top: 3.2rem;
		color: $white;
	}
	.btn-primary {
		margin-right: 5rem;
		margin-left: 1rem;
		min-width: 22rem;
	}
}
@media (max-width: 768px) {
	.home-discuss {
		border-radius: 0;
	}
}
@media (max-width: 500px) {
	.home-discuss {
		padding: 3rem 0;
		text-align: center;
		&__row {
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
		}
		.title-second {
			margin: 0 auto;
		}
		.btn-primary {
			margin: 0;
			margin-top: 2rem;
		}
	}
}

/* ======================================================== */
/* block footer */

.home-footer {
	padding-top: 9.7rem;
	padding-bottom: 6.4rem;
	background: $blue2;
	&__row {
		flex-wrap: wrap;
		margin: 0 -15px;
	}
	.col {
		width: 30%;
		display: flex;
		flex-direction: column;
		padding: 0 15px;
	}
	.col._first {
		width: 40%;
		.text {
			display: flex;
			margin-bottom: 2.4rem;
			b {
				margin-right: 1.6rem;
			}
		}
	}
	.col:not(._first) {
		.btn-link {
			margin-bottom: 1.6rem;
		}
	}
	&__row_logo {
		align-items: center;
		margin-bottom: 2.2rem;
	}
	.logo-text {
		margin-left: 15px;
	}
	.title {
		margin-bottom: 3.2rem;
		font-size: 2rem;
		color: $white;
		line-height: 3rem;
		font-weight: 400;
	}
	.text:not(.home-copyright) {
		color: $white;
		opacity: 1;
	}
	.home-copyright {
		margin-top: 4rem;
	}
}
.bg-logo_blue_light {
	display: inline-block;
    width: 48px; height: 32px;
    background: url($dirImgs + 'css_sprites.png') -78px -10px;
}
.logo-text {
	font-size: 2.8rem;
	line-height: 4.6rem;
	letter-spacing: 0.02em;
	color: $white;
}
.home-copyright {
	color: $white;
	opacity: .4;
}
@media (max-width: 620px) {
	.home-footer {
		padding: 2rem 0;
		&__row {
			justify-content: space-between;
		}
		.col._first {
			width: 100%;
			br {
				display: none;
			}
		}
		.col {
			width: 46%;
		}
	}
}