@font-face {
  font-family: OpenSans-Regular;
  src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(fonts/OpenSans-Bold.ttf);
}

a:active, 
a:hover,
a:focus,
a {
  text-decoration: none;
  outline: none;
  border: none;
}
div {
	outline: none;
}

/*-----XS-----*/

.wrapper .slider-xs {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.wrapper .sl-xs1 {
	background-image: url(img/img1-xs.png);
}
.wrapper .sl-xs2 {
	background-image: url(img/img2-xs.png);
}
.wrapper .sl-xs3 {
	background-image: url(img/img3-xs.png);
}
.slider-xs .sl-h2 {
	margin: 0 auto;
	padding-top: 122px;
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.28;
	letter-spacing: .4px;
	max-width: 345px;
	width: 100%;
}
.slider-xs .sl-p {
	font-size: 18px;
	line-height: 1;
	margin-bottom: 26.1px;
}
.slider-xs .sl-button {
	height: 38px;
	width: 129px;
	background: #ff891e;
	color: white;
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
	font-size: 13px;
	margin: 0 auto;
	margin-bottom: 131px;
	border-radius: 3px;
}

/*-----tabs-xs-----*/

.wrapper .tabs-xs {
	display: none;
	position: absolute;
	bottom: 15px;
	width: 100%;
	height: 30px;
}
.tabs-xs .xs-block {
	width: 77px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.tabs-xs .tab {
	width: 15px;
	height: 15px;
	border: 1px solid black;
	border-radius: 20px;
	cursor: pointer;
}
.tabs-xs .tab-xs1 {
	background: black;
}
@media screen and (max-width: 991px) {
	.wrapper .tabs-xs {
		display: block;
	}
}

/*-----MD-----*/

.wrapper .sl-md1 {
	background-image: url(img/img1-md.png);
}
.wrapper .sl-md2 {
	background-image: url(img/img2-md.png);
}
.wrapper .sl-md3 {
	background-image: url(img/img3-md.png);
}
.wrapper .sl-md4 {
	background-image: url(img/img4-md.png);
}

.wrapper .slider-md {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.slider-md .block-content {
	max-width: 467px;
	width: 100%;
	margin-left: 66px;
}
.slider-md .sl-h2 {
	padding-top: 210px;
	margin-bottom: 15px;
	font-size: 34px;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: .4px;
}
.slider-md .sl-p {
	font-size: 22px;
	line-height: 1;
	margin-bottom: 23px;
}
.slider-md .block-btns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 268px;
}
.slider-md .btn-more {
	height: 38px;
	width: 129px;
	background: #ff891e;
	color: white;
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
	font-size: 13px;
	margin: 0 auto;
	border-radius: 3px;
	margin-right: 19px;
}
.slider-md .btn-stock {
	height: 38px;
	width: 129px;
	color: black;
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
	font-size: 13px;
	margin: 0 auto;
	border-radius: 3px;
	border: 1px solid black;
}

@media screen and (max-width: 1093px) {
	.slider-md .block-content {
	margin-left: 0;
	}
}

/*-----arrow-----*/

.wrapper .prev {
	width: 76px;
	height: 84px;
 	position: absolute;
 	top: 50%;
 	-webkit-transform: translate(0, -49%);
 	    -ms-transform: translate(0, -49%);
 	        transform: translate(0, -49%);
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-pack: center;
 	    -ms-flex-pack: center;
 	        justify-content: center;
 	-webkit-box-align: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 	cursor: pointer;
 	-webkit-transition-duration: .3s;
 	     -o-transition-duration: .3s;
 	        transition-duration: .3s;
 	z-index: 3;
	background: rgba(181,187,196,.4);
}
.wrapper .prev img {
	margin-right: 9px;
}
.wrapper .next {
	width: 76px;
	height: 84px;
	background: rgba(181,187,196,.4);
 	position: absolute;
 	top: 50%;
 	left: 100%;
 	-webkit-transform: translate(-100%, -50%);
 	    -ms-transform: translate(-100%, -50%);
 	        transform: translate(-100%, -50%);
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-pack: center;
 	    -ms-flex-pack: center;
 	        justify-content: center;
 	-webkit-box-align: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 	cursor: pointer;
 	-webkit-transition-duration: .3s;
 	     -o-transition-duration: .3s;
 	        transition-duration: .3s;
 	z-index: 3;
}
.wrapper .next img {
	margin-left: 9px;
}

@media screen and (max-width: 992px) {
	.wrapper .arrow, .wrapper .single-md {
		display: none;
	}
}

@media screen and (max-width: 1199px) {
	.wrapper .prev {
		background: transparent;
	}
}


/*-----tabs-md-----*/

.wrapper .tabs_md {
	display: none;
	position: absolute;
	bottom: 24px;
	width: 100%;
}
.tabs-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
    max-width: 959px;
    width: 100%;
    margin: 0 auto;
}
.tabs_md .block-wrapper {
	height: 55px;
	max-width: 223px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: rgba(0,0,0,.2);
	border-radius: 3px;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-transition-duration: .3s;
	     -o-transition-duration: .3s;
	        transition-duration: .3s;
}
.tabs_md .block-wrapper:hover {
	background: rgba(0,0,0,.5)!important;
}
.tabs_md .bg-gray {
	background: #c4cdd6;
	border-radius: 3px;
	margin-left: 5px;
	margin-right: 5px;
}
.tabs_md .button-1 {
	background: rgba(0,0,0,.5);
}
.tabs_md .block-text {
	color: white;
	line-height: 1.1;
}
.tabs_md .text1 {
	font-size: 10px;
}
.tabs_md .text2 {
	font-size: 11px;
	font-family: OpenSans-Bold;
}

@media screen and (max-width: 1199px) {
	.wrapper .tabs_md {
		display: block;
	}
}
@media screen and (max-width: 991px) {
	.wrapper .tabs_md {
		display: none;
	}
}


/*-----lg-----*/

.wrapper .sl-lg1 {
	background-image: url(img/img1-lg.png);
}
.wrapper .sl-lg2 {
	background-image: url(img/img2-lg.png);
}
.wrapper .sl-lg3 {
	background-image: url(img/img3-lg.png);
}
.wrapper .sl-lg4 {
	background-image: url(img/img4-lg.png);
}

.wrapper .slider-lg {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.slider-lg .block-content {
	width: 100%;
	margin-left: 2px;
}
.slider-lg .sl-h2 {
	padding-top: 206px;
	margin-bottom: 18px;
	font-size: 41px;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: .4px;
}
.slider-lg .sl-p {
	font-size: 26px;
	line-height: 1;
	margin-bottom: 30px;
}
.slider-lg .block-btns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 227px;
}
.slider-lg .btn-more {
	height: 47px;
	width: 156px;
	background: #ff891e;
	color: white;
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
	font-size: 15px;
	margin: 0 auto;
	border-radius: 3px;
	margin-right: 19px;
}
.slider-lg .btn-stock {
	height: 47px;
	width: 156px;
	color: black;
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
	font-size: 15px;
	margin: 0 auto;
	border-radius: 3px;
	border: 1px solid black;
}

/*-----tabs-lg-----*/

.wrapper .tabs_lg {
	position: absolute;
	bottom: 20px;
	width: 100%;
	z-index: 3;
}
.tabs-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
    max-width: 1159px;
    width: 100%;
    margin: 0 auto;
}
.tabs_lg .block-wrapper {
	height: 65px;
	max-width: 273px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: rgba(0,0,0,.2);
	border-radius: 3px;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-transition-duration: .3s;
	     -o-transition-duration: .3s;
	        transition-duration: .3s;
}
.tabs_lg .block-wrapper:hover {
	background: rgba(0,0,0,.5)!important;
}
.tabs_lg .bg-gray {
	background: #c4cdd6;
	border-radius: 3px;
	margin-left: 5px;
	margin-right: 5px;
}
.tabs_lg .btn-1 {
	background: rgba(0,0,0,.5);
}
.tabs_lg .block-text {
	color: white;
	line-height: 1.1;
}
.tabs_lg .text1 {
	font-size: 13px;
}
.tabs_lg .text2 {
	font-size: 14px;
	font-family: OpenSans-Bold;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   .wrapper {
   	overflow-x: hidden;
   }  
}