@import '/src/scss/vars';

/* =========== common ============ */

:root {
  --cnt-width: 750px;

  --spacing1: 4px;
  --spacing2: 8px;
  --spacing3: 12px;
  --spacing4: 16px;
  --spacing5: 24px;
  --spacing6: 32px;
  --spacing7: 40px;
  --spacing8: 60px;
  --spacing9: 74px;

  --color1: #191919;
  --color2: #fff;
  --color3: #118DA8;
  --color4: #000000;
  --color5: #05667b;

  --text-base: 18px;
  --text-regular: 16px;
  --text-accent: 14px;

  --lh-base: 26px;
  --lh-regular: 22px;
  --lh-accent: 19px;

  --borderRadius1: 4px;
  --borderRadius2: 8px;

  --transition: .2s;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--text-base);
  line-height: var(--lh-base);
  color: var(--color2);
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
.h1 {
  font-size: 42px;
  line-height: 48px;
}

h2,
.h2 {
  font-size: 34px;
  line-height: 39px;
}

h3,
.h3 {
  font-size: 24px;
  line-height: 29px;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 78px;
  background: var(--color1);
}

@media (min-width: $laptop) {
  .root {
    padding-top: 126px;
  }
}


.main {
  flex: 1 1 auto;
}

.container {
  max-width: var(--cnt-width);
  width: 100%;
  margin-inline: auto;
  padding-right: var(--spacing4);
  padding-left: var(--spacing4);
}
@media (min-width: $tablet2) {
  :root {
    --cnt-width: 980px;
  }
}
@media (min-width: $desktop) {
  :root {
    --cnt-width: 1300px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  padding: 0;
  outline: none;
  border: 0;
  background: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}


.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing3) var(--spacing5);
  color: var(--color2);
  font-size: var(--text-base);
  line-height: var(--lh-base);
  background: var(--color3);
  outline: none;
  border-radius: var(--borderRadius1);
  cursor: pointer;
  transition: var(--transition);
}
@media (min-width: $laptop) {

  .button:hover {
    background: var(--color5);
  }
  
}


.section {
  padding: var(--spacing8) 0;
}
.section__wrap-title {
  margin-bottom: var(--spacing6);
}

@media (min-width: $desktop) {

  .section {
    padding: var(--spacing9) 0;
  }
  
}

.wrap-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--spacing5);
}