@import '/src/scss/vars';

.episode-section {
  &__wrap-title {
    margin-bottom: var(--spacing8);
  }
  &__items {
    display: grid;
    gap: var(--spacing6);
  }
}

@media (min-width: $tablet) {
  .episode-section {
    &__items {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (min-width: $laptop) {
  .episode-section {
    &__items {
      grid-template-columns: 1fr;
      gap: 60px;
    }
  }
}