/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:hover, a:active {
  border: none; }

input, textarea {
  outline: none; }
 *, ::before, ::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: 
      local('Roboto'), local('Roboto-Regular'), 
      url('font/Roboto.woff2') format('woff2'), 
      url('font/Roboto.woff') format('woff'), 
      url('font/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: 
      local('Roboto Bold'), local('Roboto-Bold'), 
      url('font/RobotoBold.woff2') format('woff2'), 
      url('font/RobotoBold.woff') format('woff'), 
      url('font/RobotoBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.test {
  padding: 15px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: #e6ecf2;
}
.test__inner {
  background: #fff;
}
.test__container {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
}
.test-dashboard {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.test-dashboard__block {
  position: relative;
  width: 24%;
  padding-top: 1.25em;
  padding-right: .938em;
  padding-bottom: 1.625em;
  padding-left: 1.5em;
  color: #fff;
  background: #4a0594;
  cursor: pointer;
}
.test-dashboard__block:after {
  content: '';
  position: absolute;
  top: 1.25em;
  right: .938em;
}
.test-dashboard__numb {
  font-size: 26px;
  font-weight: 700;
}
.test-dashboard__text {
  font-size: 13px;
}